{% extends "base.html" %}
{% block content %}


<h1>License File Management</h1>


<form id="upload-license-form" method="POST" action="/license-manage/upload-license" enctype="multipart/form-data">
    <h2>Upload License</h2>
    <div class="lic_upload">
        <div>
            <label for="lic_type">License type:</label>
            <select name="lic_type" id="lic_type">
                {% for lic_type in allowed_lic_types %}
                <option value="{{ lic_type }}">{{ lic_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="admin_notes">Admin Notes: </label>
            <textarea name="admin_notes" id="admin_notes"></textarea>
        </div>
        <div>
            <input type="file" name="file" id="upload-btn" class="input--large"/>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </div>
</form>


<h2>Current License Files</h2>
<table>
    <thead>
    <tr>
        <th>License File</th>
        <th>Upload Date</th>
        <th>Type</th>
        <th>Participant List</th>
        <th>Upload Date</th>
        <th>Update</th>
        <th>Deactivate</th>
    </tr>
    </thead>
    {% for l in active_list %}
    <tr>
        <td>
            <a href="{{ url_for('license-manage.download_lic_related_file', lrf_id=l.lic_lrf_id ) }}">
                {{ l.lic_filename }}
            </a>
        </td>
        <td> {{ l.lic_upload_date }}</td>
        <td> {{ l.lic_type }}</td>
        <td>
            {% if l.parti_filename  %}
            <a href="{{ url_for('license-manage.download_lic_related_file', lrf_id=l.parti_lrf_id ) }}">
                {{ l.parti_filename }}
            </a>
            {% endif %}

            {% if not l.parti_filename  %}
            <form method="POST"
                  action="{{ url_for('license-manage.upload_participant') }}"
                  enctype="multipart/form-data" >
                <input type="hidden" name="lic_lrf_id" value="{{ l.lic_lrf_id }}">
                <input type="file" name="file" class="hide_file_upload submit_on_change"/>
                <button class="long_act_btn trigger_file_btn"> Add </button>
            </form>
            {% endif %}
        </td>
        <td>
            {{ l.parti_upload_date }}
        </td>
        <td>
            <form method="POST"
                  action="{{ url_for('license-manage.update_license') }}"
                  enctype="multipart/form-data" >
                <input type="hidden" name="lic_lrf_id" value="{{ l.lic_lrf_id }}">
                <input type="hidden" name="parti_lrf_id" value="{{ l.parti_lrf_id }}">
                <input type="file" name="file" class="hide_file_upload submit_on_change"/>
                <button type="submit" class="long_act_btn trigger_file_btn">
                    License
                </button>
            </form>

            <form method="POST"
                  action="{{ url_for('license-manage.update_participant') }}"
                  enctype="multipart/form-data" >
                <input type="hidden" name="lic_lrf_id" value="{{ l.lic_lrf_id }}">
                <input type="hidden" name="parti_lrf_id" value="{{ l.parti_lrf_id }}">
                <input type="file" name="file" class="hide_file_upload submit_on_change"/>
                <button type="submit" class="long_act_btn trigger_file_btn">
                    Participant
                </button>
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('license-manage.deactivate_license') }}">
                <input type="hidden" name="lic_lrf_id" value="{{ l.lic_lrf_id }}">
                <input type="hidden" name="parti_lrf_id" value="{{ l.parti_lrf_id }}">
                <button type="submit" class="long_act_btn">
                    License
                </button>
            </form>

            <form method="POST" action="{{ url_for('license-manage.deactivate_participant') }}">
                {% if l.parti_lrf_id %}
                <input type="hidden" name="lrf_id" value="{{ l.parti_lrf_id }}">
                <button type="submit" class="long_act_btn">
                    Participant
                </button>
                {% endif %}
            </form>
        </td>
    </tr>
    {% endfor %}


</table>


<h2>History</h2>
<table>
    <thead>
    <tr>
        <th>File name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Upload Date</th>
        <th>Active</th>
        <th>Delete</th>
    </tr>
    </thead>

    {% for l in history_list %}
    <tr>
        <td>
            <a href="{{ url_for('license-manage.download_lic_related_file', lrf_id=l.get('id') ) }}">
                {{ l.get('file_name') }}
            </a>
        </td>
        <td> {{ l.get('type') }}</td>
        <td> {{ l.get('status') }}</td>
        <td> {{ l.get('upload_date') }}</td>
        <td>
            <form method="POST" action="{{ url_for('license-manage.active_lic_related_file') }}">
                <input type="hidden" name="lrf_id" value="{{ l.get('id') }}">
                <input type="submit" value="Active"/>
            </form>
        </td>
        <td>
            {% if l.get('status') in allowed_del_status %}
            <form method="POST" action="{{ url_for('license-manage.delete_lic_related_file') }}">
                <input type="hidden" name="lrf_id" value="{{ l.get('id') }}">
                <input type="submit" value="Delete"/>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>



<style>
    .lic_upload {
        /*border: #0a0a0a 1px solid;*/
        margin: 15px;
    }

    .long_act_btn {
        width: 80px;
        font-size: 13px;
    }
    .hide_file_upload {
        display: none;
    }


</style>

<script>


    $('.trigger_file_btn').click((e) => {
        e.preventDefault()
        const jq_form = $(e.target.parentElement)
        const jq_file = jq_form.find('input[type=file]')
        jq_file.trigger('click')
    })

    $('.submit_on_change').change((e) => {
        const jq_file = $(e.target)
        if (jq_file[0].files.length){
            jq_file.parent('form').submit()
        }
    })


    // $('#upload-btn').change(() => {
    //     // KTODO test and handle filename empty
    //     $('#upload-license-form').submit()
    // })


</script>


{% endblock %}
