{% extends "base.html" %}
{% block content %}


<h1>License File Management</h1>


<form id="upload-license-form" method="POST" action="/license-manage/upload-license" enctype="multipart/form-data">
    <h2>Upload License</h2>
    <div class="lic_upload">
        <div>
            <label for="lic_type">License type:</label>
            <select name="lic_type" id="lic_type">
                {% for lic_type in allowed_lic_types %}
                <option value="{{ lic_type }}">{{ lic_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="admin_notes">Admin Notes: </label>
            <textarea name="admin_notes" id="admin_notes"></textarea>
        </div>
        <div>
            <input type="file" name="file" id="upload-btn" class="input--large" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>



<h2>Current License Files</h2>
<table>
    <thead>
    <tr>
        <th>License File</th>
        <th>Upload Date</th>
        <th>Type</th>
        <th>Participant List</th>
        <th>Upload Date</th>
        <th>Update</th>
        <th>Deactivate</th>
    </tr>
    </thead>
    {% for l in active_list %}
    <tr>
        <td> {{ l.get('file_name') }} </td>
        <td> {{ l.get('upload_date') }} </td>
        <td> {{ l.get('type') }} </td>
        <td> <!-- KTODO participant list --> </td>
        <td> <!-- KTODO participant upload_date --> </td>
        <td> <button>Update</button> </td> <!-- KTODO update button -->
        <td>
            <form method="POST" action="{{ url_for('license-manage.deactivate_license') }}">
                <input type="hidden" name="lrf_id" value="{{ l.get('id') }}">
                <button type="submit" class="deactivate_btn" >
                    Deactivate <br/>
                    License and Participant
                </button>
            </form>

            <form method="POST" action="{{ url_for('license-manage.deactivate_participant') }}">
                <input type="hidden" name="lrf_id" value="{{ l.get('id') }}">
                <!-- KTODO form fields -->
                <button type="submit" class="deactivate_btn">
                    Deactivate <br/>
                    Participant only
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}


</table>



<h2>History</h2>
<table>
    <thead>
    <tr>
        <th>File name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Upload Date</th>
        <th>Active</th>
        <th>Delete</th>
    </tr>
    </thead>

    {% for l in history_list %}
    <tr>
        <td> {{ l.get('file_name') }} </td>
        <td> {{ l.get('type') }} </td>
        <td> {{ l.get('status') }} </td>
        <td> {{ l.get('upload_date') }} </td>
        <td>
            <form method="POST" action="{{ url_for('license-manage.active_license') }}">
                <input type="hidden" name="lrf_id" value="{{ l.get('id') }}">
                <input type="submit" value="Active" />
            </form>
        </td>
        <td> <button>Delete</button> </td> <!-- KTODO delete button -->
    </tr>
    {% endfor %}
</table>



lkajdlkasjdlkasjdklasjdkljslakdas

<style>
    .lic_upload {
        /*border: #0a0a0a 1px solid;*/
        margin: 15px;
    }

    .deactivate_btn {
        width: 160px;
        font-size: 14px;
    }


</style>

<script>

    // $('#upload-btn').change(() => {
    //     // KTODO test and handle filename empty
    //     $('#upload-license-form').submit()
    // })


</script>




{% endblock %}
