[submodule "esprit"]
	path = esprit
	url = git@github.com:OA-DeepGreen/esprit.git
	branch = master
[submodule "magnificent-octopus"]
	path = magnificent-octopus
	url = git@github.com:OA-DeepGreen/magnificent-octopus.git
	branch = master
