# In order to install jper you need to run
# pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# install esprit
-e git+https://github.com/OA-DeepGreen/esprit.git@b56f825af0715c7efa36de0e5dff4bc80418707d#egg=esprit

# install octopus (initialise the submodule first)
-e magnificent-octopus

# install the sub-projects
-e API/src
-e OAUtils/src

# now run the normal setup.py and get all the normal PyPI dependencies from there
-e .
