/* .pattern-library__page-title.fix {
    background: url(https://ux.jisc.ac.uk/ui/img/polygon-bg.png) 50% 0 no-repeat #E85E13;
    background-image: url(https://ux.jisc.ac.uk/ui/img/polygon-bg.png);
} */
.no-underscore a{
	text-decoration: none;
}
.move-up{
	margin-top: -5px;
}
/* over ride the jisc accordion 
.is-collapsible--button.show_hide--is-expanded, .is-collapsible--button.show_hide--is-expanding{
	background-color: #fff;
}

.data-table th, table th{
	background-color: #e4eaec;
} 
.data-table tbody tr:nth-child(odd), table tbody tr:nth-child(odd){
	background-color: #f8fafa;
}
.data-table tbody tr, table tbody tr{
	background-color: #f8fafa;
} */
.btn{
	white-space: nowrap;
}

/* .box--brd-vlgreyblue {
  border-color: #e4e9ec;
}
 .box--bg-vlgreyblue {
  background-color: #e4e9ec;
}
.box--padding-bottom-none {
  padding-bottom: 0;
} 

.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}
.dl-horizontal dd:after {
  clear: both;
}
  @media (min-width: 758px) {
  .cms > .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    font-family: "Stag Sans Web Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .cms > .dl-horizontal dd {
    margin-top: 9px;
    margin-top: .9rem;
    margin-left: 180px;
  }
  .cms > .dl-horizontal--account-details dt, .cms > .dl-horizontal--account-details dd {
    margin-top: 0;
  }
} */

.show_hide__target ol li{
	background-image: inherit;
}

/* .show_hide__target li{
	font-size: 18px;
} */

.outer {margin-left:10%; margin-top: 1%; float: left; position: relative;}
