/**Fonts - Temp **/
/* =============================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: "Stag Sans Web Light";
  src: url('Fonts/StagSansWeb-Light.eot');
  src: url('Fonts/StagSansWeb-Light.eot?#iefix') format("embedded-opentype"), url('Fonts/StagSansWeb-Light.woff') format("woff"), url("StagSansWeb-Light.ttf") format("truetype"), url("StagSansWeb-Light.svg#Stag Sans Web") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Stag Sans Web Book";
  src: url("StagSansWeb-Book.eot");
  src: url("StagSansWeb-Book.eot?#iefix") format("embedded-opentype"), url("StagSansWeb-Book.woff") format("woff"), url("StagSansWeb-Book.ttf") format("truetype"), url("StagSansWeb-Book.svg#Stag Sans Web") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Stag Sans Web Medium";
  src: url("StagSansWeb-Medium.eot");
  src: url("StagSansWeb-Medium.eot?#iefix") format("embedded-opentype"), url("StagSansWeb-Medium.woff") format("woff"), url("StagSansWeb-Medium.ttf") format("truetype"), url("StagSansWeb-Medium.svg#Stag Sans Web") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'icomoon';
  src: url('Fonts/icon-font/icomoon.eot');
  src: url('Fonts/icon-font/icomoon.eot#iefix') format('embedded-opentype'), url('Fonts/icon-font/icomoon.woff') format('woff'), url('Fonts/icon-font/icomoon.ttf') format('truetype'), url('Fonts/icon-font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }
