/* Overriding masthead with a different colour, and image when */
.masthead__main {
  background: #008000 url("masthead-image.png") no-repeat scroll right top;
}

/* Align topnav elements */

.topnav__list li {float: left;}

.h1_like_h2 {
 font-size:30px !important;
 line-height:3rem !important;
}
/*Colour changes for PR**/

.masthead__nav .submenu:hover {
 color:#006633; 
}

/* .masthead__nav .submenu li a {
  color:#008000;
} */

.nav__item.active a, .nav__item.is-active a{
 background-color:#fff!important;
 color:#008000 ; 
}

/* .masthead__nav .submenu li a:hover {
  color:#006633;
} */

/* Aligning text in alert boxes */
.box--centre {
  text-align: center;
}

/* Changing colour of nav__item a when hovered */
.nav__item.has-popup.active>a, .nav__item.has-popup:active>a, .nav__item.has-popup:hover>a, .nav__item>a:active, .nav__item>a:hover {
  background-color: #008000!important;
  color:#fff;
  border:none;
}

/* Overriding colours of menu button 
.menu-button {
  background-color:#006633;
} */ 

.menu-button:hover, .menu-button.is-open:hover {
  background-color: #008000;
  color: #fff;
}

.menu-button.is-open {
  background-color: #008000;
  color: #fff;
}
/* Setting padding at bottom of masthead*/
.masthead__main {
  padding-bottom: 76px; 
}
/*Using negative margin to control content*/
#main {
margin-top: -76px;
}

.box__inner > p {
 margin:0; 
}

/*BEM class to set lineheight on ul*/
.ul {
  line-height:27px;
  line-height:2.7rem;
  margin-bottom:27px;
  margin-bottom:2.7rem;
 }
 
 .teaser__copy dt {
  font-weight: bold;
  font-family: "Stag Sans Web Book", "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
 }
 
 .teaser__copy dl {
  line-height:27px;
  line-height:2.7rem; 
   margin-bottom:27px;
  margin-bottom:2.7rem;
  font-size: 90%;
 }
 
 h2.show_hide__trigger {
  margin-bottom:0; 
 }

/*Removing independant margn's from nav items*/
.masthead__nav {
margin-bottom:0;
}

/*(Masthead)Default mobile padding*/
#main > .inner {
 padding-top:10px; 
}

#main > .inner > .l-centre-offset {
 padding-right:10px; 
}

/* Arrows */

/* One Page further */
.right-arrow:after {
  content:'\25BA'
}

/* One Page back */
.left-arrow:after {
  content:'\25C4'
}

/* Sort arrow up */
.up-arrow:after {
  content:'\25B4'
}

/* Sort arrow down */
.down-arrow:after {
  content:'\25BE'
}

/*+++++
/*Form modifications
*/

/*.btn--large {
    font-size: 18px;
    font-size: 1.8rem;
    padding: 4px 22px;
    	
} */

.btn--right-align {
 float:right;
 margin-right:6%; 
}
/***/

@media screen and (min-width: 757px) {

/* .masthead__nav .submenu ul {
 border-top:2px solid #006633;
} */

/*(Masthead)Setting default padding on main */
#main > .inner {
 padding-top:30px;
 padding-bottom:30px;
}
#main >  .inner > .l-centre-offset {
 padding-right:30px;
}
/* Setting background colour on a elements */
.nav__item > a {
  background-color: #008000!important;
}
/* Positioning main to line up with masthead, without <br> tags  */

/* Positioning credentials on masthead */
.credentials {
  position: absolute;
  top: -60px;
  margin-right: 0;
  right: -10px;
}
/* +New Setting name left of log in button */
.credentials__name {
  margin-right: 10px;
}

}


@media screen and (max-width: 757px) {
/*Hiding name of logged in user for mobile devices */
.credentials__name {
  display: none;
}

/*Setting button position as relative, and changing background colour to match in context of menu */
.credentials .btn--outline {
  background-color: #008000;
  border: none;
  position: relative;
  display: block;
}

.btn { background-color: #00800; }

}

.collapse{
	font-weight: bold;
	cursor: pointer;
}
.expand{
	font-weight: bold;
	cursor: pointer;
}
.toggle{
	text-decoration: underline;
	cursor: pointer;
}

.box--brd-vlgreyblue {
  border-color: #e4e9ec;
}
.box--bg-vlgreyblue {
  background-color: #e4e9ec;
}
.box--padding-bottom-none {
  padding-bottom: 0;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}
.dl-horizontal dd:after {
  clear: both;
}
@media (min-width: 758px) {
  .cms > .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    font-family: "Stag Sans Web Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .cms > .dl-horizontal dd {
    margin-top: .9rem;
    margin-left: 180px;
  }
  .cms > .dl-horizontal--account-details dt, .cms > .dl-horizontal--account-details dd {
    margin-top: 0;
  }
}

.dl-table dl {
    display: flex;
    flex-flow: row wrap;
}
.dl-table dt {
    flex-basis: 20%;
    padding: 5px 4px;
    text-align: right;
    font-weight: bold;
}
.dl-table dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 5px 4px;
}

.collapsible {
    background-color: #eee;
    color: #0a0a0a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2.4rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 2.1rem;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.lic_upload label {
    min-width: 8em;
    display: inline-block;
}

.hide_file_upload {
    display: none;
}

.detail_row {
    display: none;
}

.file_tbl dt,
.history_tbl dt {
    font-weight: bold;
}
.file_tbl dd,
.history_tbl dd {
  margin: 0;
  padding: 0 0 0.5em 0;
}

div.actions div {
   margin-bottom: 5px;
}

/* Result rows */
.edges-bs3-results-fields-by-row-container-results {
    padding-bottom: 5px;
}

.edges-bs3-results-fields-by-row-container-results .row {
    margin-bottom: 10px;
}

.edges-bs3-results-fields-by-row-container-results .row:nth-child(even) {
    background-color: #f2f2f2;
}

.edges-bs3-results-fields-by-row-row-results {
    line-height: 1.5em;
}

.search-result-label {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

.search-result-value {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}
