<footer role="contentinfo" class="site-footer"> 
<!--.light here denotes depth of bg tint-->
	<div class="inner l-pull-left light l-gutter--top">
  		<div class="l-centre-offset row"> 
    	<!-- Based on the way these elements behave when folded down, this is a standard row/col layout-->
			<div class="col span-4">
  				<div class="linklist l-gutter--right">
    				<div class="linklist__title">Contact</div>
				<ul>     
      					<li class="linklist__item"> 
						<!--
						Email:  <a href="mailto:deeepgreen@zib.de?subject=Prototype">info@oa-deepgreen.de</a>
						Email: <a href="mailto:deeepgreen@zib.de?subject=DeepGreen+Prototype">Please use this link</a>
						-->
						Email: <a href="mailto:info-deepgreen@zib.de">Please use this link</a>
					</li>
      				</ul>
  				</div>
  				<!--/ .linklist --> 
			</div>
 			<div class="col span-3">
  				<div class="linklist l-gutter--right">
    				<div class="linklist__title">Twitter</div>
 				<ul class="item-set-2">
                			<li class="linklist__item">
                  				<p><a href="https://twitter.com/oa_DeepGreen" target="_blank">@oa_DeepGreen</a></p>
                			</li>
               			</ul>
  				</div>
  				<!--/ .linklist --> 
  			</div>
 			<div class="col span-3">
  				<div class="linklist l-gutter--right">
    				<div class="linklist__title">Funding</div>
 				<ul class="item-set-3">
                			<li class="linklist__item">
          					<a href="http://gepris.dfg.de/gepris/projekt/401038572" target="_blank"> <img alt="DFG Logo" src="/static/dfg_logo.gif"> </a> 
                			</li>
               			</ul>
  				</div>
  				<!--/ .linklist --> 
  			</div>
		</div>
		<!--/ /-centre-offset.row --> 
	</div>
	<!--/ .inner.l-pull-left --> 
	<!--.medium here denotes depth of bg tint-->
	<div class="inner l-pull-left medium bottom-section">
  		<div class="l-centre-offset row">
    		<div class="col span-6">
      			<div class="l-gutter--right">
        			<div class="divisional-info">
          				<div class="divisional-info__side"> <a href="https://deepgreen.kobv.de/en/project-deepgreen/" target="_blank"> <img alt="DeepGreen Logo" src="/static/DeepGreen_Logo.gif" height="93px" width="125px"> </a> </div>
          				<div class="divisional-info__body">
            				<p><a href="https://deepgreen.kobv.de/en/project-deepgreen/" target="_blank">Find out more at www.oa-deepgreen.de</a><br><br><a href="{{ url_for('about.impressum') }}">Impressum</a></p>
          				</div>
        			</div>
        			<!--/ .divisional-info --> 
			</div>
			<!--/ .l-gutter-right --> 
		</div>
		<!--/ .col.span-6 -->
	
		
		
		</div>
		<!--/ .l-centre-offset.row --> 
	</div>
	<!--/ .inner.l-pull-left.medium --> 
	<!--.heavy here denotes depth of bg tint-->
	<div class="inner l-pull-left heavy">
  		<!--/ .l-centre-offset.row --> 
	</div>
	<!--/ .inner.l-pull-left.heavy --> 
</footer>
