<header class="masthead" role="banner" data-mobilemenu>
    <div class="masthead__top">
        <div class="inner">
            <a id="skiplinks" class="visuallyhidden focusable in-page" href="#main" tabindex="1">
                <span>Skip to main content</span>
            </a>
            <a class="masthead__logo" href="//jisc.ac.uk">
                <img alt="Jisc logo" src="//ux-stg.jisc.ac.uk/ui/img/logo.png">
            </a>
            <nav class="masthead__topnav">
                <ul id="nav" class="topnav__list" data-dropdown="">
                    <li class="topnav__item ">
                        <a href="https://jisc.ac.uk/rd">R&D</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="masthead__main">
        <div class="inner">
            <p class="masthead__title masthead__title--short">
            	<a href="/" title="Publications Router">Publications Router
                    <span class="tags--white tags__item">
                        <span class="tags__link">
                            Beta
                        </span>
                    </span>
                </a>
            </p>
            
            <div class="nav-wrapper" data-mobilemenu>
            	
            {% if current_user.is_anonymous() %}
                <div class="credentials">
                    <a href="{{ url_for('account.login') }}">
                        <div class="btn btn--rounded"> <span class="btn__text">Log in</span></div>
                    </a>
                </div> 
            {% else %}
                <div class="credentials">
                    <a href="{{ url_for('account.logout') }}">
                        <div class="btn btn--rounded btn--outline"> <span class="btn__text">Log out</span></div>
                    </a>
                </div>
            {% endif %}
              	<nav class="masthead__nav masthead__nav--primary" role="navigation" data-dropdown="">
                    <ul>                    
                        <li class="nav__item  has-popup {% if request.path == url_for('about.institutions') or
                        	request.path == url_for('about.publishers') or
                        	request.path == url_for('about.index') or
                        	request.path == url_for('about.resources') %}
                         	is-active
                        	{% endif %}">
                            
                            <a>About</a>
                            <div class="submenu submenu--left">
                                <ul>
                                	<li><a href="{{ url_for('about.index') }}">Overview</a></li>
                                    <li><a href="{{ url_for('about.institutions') }}">Information for institutions</a></li>
                                    <li><a href="{{ url_for('about.publishers') }}">Information for publishers</a></li>
                                    <li><a href="{{ url_for('about.resources') }}">Technical documentation</a></li>
                                </ul>
                            </div>
                        </li>
                    {% if not current_user.is_anonymous()  %}
                        
                        <li class="nav__item {% if request.path == url_for('account.username', username=current_user.id)%}
                         active
                        {% endif %}">
                            <a href="{{ url_for('account.username', username=current_user.id) }}">My Account</a>
                        </li>
                    {% if  current_user.has_role('admin') %}
                        <li class="nav__item has-popup {% if request.path == url_for('account.index') or
                        request.path == url_for('account.register')%}
                         is-active
                        {% endif %}">
                            <a href="{{ url_for('account.index') }}">Admin</a>
                            <div class="submenu submenu--left">
                                <ul>
                                    <li><a href="{{ url_for('account.register') }}">Add user</a></li>
                                    <li><a href="{{ url_for('account.index') }}">Manage users</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav__item {% if request.path == url_for('reports.index')%}
                         active
                        {% endif %}">
                            <a href="{{ url_for('reports.index') }}">Reports</a>
                        </li>
                        <li class="nav__item has-popup 
                        	{% if request.path == url_for('harvester.webservice') or 
                        		request.path == url_for('harvester.history') or
                        		request.path == url_for('harvester.manage')%}
                         	is-active
                        	{% endif %}">
	                    	<a >Harvester</a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="{{ url_for('harvester.manage') }}">Add web service</a></li>
                                    <li><a href="{{ url_for('harvester.webservice') }}">WebService List</a></li>
                                    <li><a href="{{ url_for('harvester.history') }}">History List</a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% endif %}
                    </ul>
                </nav>
          </div>
        </div>
    </div>
</header><html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_ExpireDate msdt:dt="string">2022-01-07T15:47:39Z</mso:_dlc_ExpireDate>
<mso:ItemRetentionFormula msdt:dt="string">&lt;formula id=&quot;Microsoft.Office.RecordsManagement.PolicyFeatures.Expiration.Formula.BuiltIn&quot;&gt;&lt;number&gt;6&lt;/number&gt;&lt;property&gt;Created&lt;/property&gt;&lt;propertyId&gt;8c06beca-0777-48f7-91c7-6da68bc07b69&lt;/propertyId&gt;&lt;period&gt;years&lt;/period&gt;&lt;/formula&gt;</mso:ItemRetentionFormula>
<mso:_dlc_policyId msdt:dt="string">0x01010083127FB3521D6B4589532B3FC47EFAB3|-573836476</mso:_dlc_policyId>
<mso:_dlc_DocId msdt:dt="string">N7XHR37R3CPZ-517733791-234</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">5b2d7c5d-6a9e-4129-ae22-dd1cb33cdb70</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://jisc365.sharepoint.com/sites/dcrd/OAdev/_layouts/15/DocIdRedir.aspx?ID=N7XHR37R3CPZ-517733791-234, N7XHR37R3CPZ-517733791-234</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
