<header class="masthead" role="banner" data-mobilemenu="">
    <div class="masthead__main">
        <div class="inner">
            <p class="masthead__title masthead__title--short">
            	<a href="/" title="DeepGreen Prototype">DeepGreen
                  <span class="tags--white tags__item">
                     <span class="tags__link">
                         Prototype
                     </span>
                  </span>
                </a>
            </p>
            
            <div class="nav-wrapper" data-mobilemenu="">
              	<nav class="masthead__nav header___nav--primary" role="navigation" data-dropdown="">
                    <ul>                    

                    {% if not current_user.is_anonymous  %}
                        
                        <li class="nav__item {% if request.path == url_for('account.username', username=current_user.id)%}
                         active
                        {% endif %}">
                            <a href="{{ url_for('account.username', username=current_user.id) }}">My Account</a>
                        </li>
                    {% if  current_user.has_role('admin') %}
                        <li class="nav__item has-popup {% if request.path == url_for('account.index') or
                        request.path == url_for('account.register')%}
                         is-active
                        {% endif %}">
                            <a>Admin</a>
                            <div class="submenu submenu--left">
                                <ul>
                                    <li><a href="{{ url_for('account.register') }}">Add user</a></li>
                                    <li><a href="{{ url_for('account.index') }}">Manage users</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav__item {% if request.path == url_for('reports.index')%}
                         active
                        {% endif %}">
                            <a href="{{ url_for('reports.index') }}">Reports</a>
                        </li>
                    {% endif %}
                    {% endif %}
                    </ul>
                </nav>
                            {% if current_user.is_anonymous %}
                <div class="credentials">
                    <a href="{{ url_for('account.login') }}">
                        <div class="btn btn--rounded"> <span class="btn__text">Log in</span></div>
                    </a>
                </div> 
            {% else %}
                <div class="credentials">
                    <a href="{{ url_for('account.logout') }}">
                        <div class="btn btn--rounded btn"> <span class="btn__text">Log out</span></div>
                    </a>
                </div>
            {% endif %}
          	</div>
        </div>
    </div>
</header>
