<head>
    <meta charset="utf-8">

    {% include "meta.html" %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="//ux-stg.jisc.ac.uk/favicon.ico">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- this is where we can incorporate any css files -->

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-3.3.1/css/bootstrap.min.css')}}">-->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-2.0.0/css/bootstrap.min.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-3.2.0/css/bootstrap.min.css')}}"> -->

    <!-- get jquery-ui css -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css')}}"> -->
   <!--  <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.11.1/jquery-ui.css')}}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.11.1/jquery-ui.theme.css')}}"> -->

    <!-- get facetview2 css -->
    <!--<link rel="stylesheet" href="{{url_for('static', filename='vendor/facetview2/css/facetview.css')}}">-->

    <!-- get the table sorter css -->
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/tablesorter-2.3.10/css/blue/style.css')}}"> -->
   <!--  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/tablesorter-2.17.7/css/theme.blue.css')}}"> -->

    <!-- get the select2 css -->
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2-3.2/select2.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2-3.5.1/select2.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2-3.5.1/select2-bootstrap.css')}}">

    <!-- timepicker css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/timepicker-0.3.3/jquery.ui.timepicker.css')}}">

    <!-- get octopus css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/octopus.css')}}">

    <!-- nvd3 styles -->
    <!--<link rel="stylesheet" href="{{url_for('static', filename='vendor/facetview2/vendor/nvd3/nv.d3.css')}}">-->

    <!-- get the application's css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/service.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    
    <!-- ux.jisc styles and script head (includes jquery) -->
    <!--[if IE]><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="//ux.jisc.ac.uk/1.1.0/css/ux.jisc-1.1.0.style-oldie.min.css" media="all" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="//ux.jisc.ac.uk/1.1.0/css/ux.jisc-1.1.0.style.min.css" media="all" />
    <!--<![endif]-->
    
    <!--- *******Please put main.css in your css folder ******* -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/fix.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/fonts.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pretty-json.css')}}">
    
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/backbone-min.js"></script>
    <script type="text/javascript" src="/static/js/pretty-json-min.js"></script>
    
    <script src="//ux.jisc.ac.uk/1.1.0/js/ux.jisc-1.1.0.script-head.min.js"></script>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_ExpireDate msdt:dt="string">2022-01-07T15:47:38Z</mso:_dlc_ExpireDate>
<mso:ItemRetentionFormula msdt:dt="string">&lt;formula id=&quot;Microsoft.Office.RecordsManagement.PolicyFeatures.Expiration.Formula.BuiltIn&quot;&gt;&lt;number&gt;6&lt;/number&gt;&lt;property&gt;Created&lt;/property&gt;&lt;propertyId&gt;8c06beca-0777-48f7-91c7-6da68bc07b69&lt;/propertyId&gt;&lt;period&gt;years&lt;/period&gt;&lt;/formula&gt;</mso:ItemRetentionFormula>
<mso:_dlc_policyId msdt:dt="string">0x01010083127FB3521D6B4589532B3FC47EFAB3|-573836476</mso:_dlc_policyId>
<mso:_dlc_DocId msdt:dt="string">N7XHR37R3CPZ-517733791-233</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">f041ca56-9320-40d6-83a1-58caeb3ea77b</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://jisc365.sharepoint.com/sites/dcrd/OAdev/_layouts/15/DocIdRedir.aspx?ID=N7XHR37R3CPZ-517733791-233, N7XHR37R3CPZ-517733791-233</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73663652-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

