{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron" style="background-color:white;border:5px solid #ef7413;min-height:500px;">
                <p style="text-align:center;"><img src="/static/jperlogo.png"></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:500px;">
                <h1>
                    More information coming soon.
                </h1>
                <p>
                    If you are already in touch with us and you have a login to this system, please use it to login above.
                    Your user account area contains more information.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
