{% extends "base.html" %} 

{% block content %}

<div class="row cms">
	<div class="col span-7 pull-1">
		<h1 class="h1_like_h2">DeepGreen</h1>
		<p>The DeepGreen project aims to transfer scientific publications, which are subject to <a href="https://www.nationallizenzen.de/ueber-nationallizenzen/allianz-lizenzen-2011-ff." target="_blank">Alliance licences</a> and thus entitled to be made freely available at the end of their respective embargo periods, into Open Access repositories. 
				
		</p>
		<p>In order to make this Open Access transformation happen DeepGreen has developed a data hub which enables publishers to automatically deposit publications (including metadata), which will then be routed to eligible  Open Access repositories.
		</p>
		<p>The DeepGreen data hub is based on the British <a href="https://pubrouter.jisc.ac.uk/" target="_blank">Jisc Publications Router</a>, a service institutions can use to obtain publications for their repositories from Open Access feeds and registered publishers.
		</p>
		<p>
			Reliable and up-to-date information about the specific rights and conditions of each individual Alliance licence are provided by the <a href="https://ezb.uni-regensburg.de/index.phtml?bibid=AAAAA&colors=7&lang=en" target="_blank">Electronic Journals Library (EZB)</a> This enables DeepGreen to automatically check whether an  individual article is actually subject to an Alliance licence before taking any further processing steps.
		</p>
		<p>
			<article class="box--padding-medium box--brd-mgreyblue">
				<div class="box__inner">
					<p>
						Information for <a href="{{ url_for('about.institutions') }}">institutions</a> and <a href="{{ url_for('about.publishers') }}">publishers</a>.
					</p>
				</div>
			</article>
		</p>
	</div>
	<div class="col span-5 pull-1">
		<article class="teaser ">
			<div class="teaser__copy">
                                <!--
                                <a href="https://deepgreen.kobv.de/en/project-deepgreen/" target="_blank"><img alt="DeepGreen Logo" src="/static/DeepGreen_Logo.svg" width="125px" height="93px" style="float:right"></a>
				<br><br>
                                -->
				<h3 class="teaser__title">
					Partners: 
				</h3> 
				<!-- <br> -->
				<dl>
					<dt>Publishers</dt>
					<dd><a href="https://www.karger.com/" target="_blank">S. Karger AG Basel</a></dd>
                                        <hr>
                                        <dd><a href="https://uk.sagepub.com/en-gb/eur/" target="_blank">SAGE Publications Ltd London</a></dd>
					<hr>
					<dd><a href="https://www.degruyter.com/" target="_blank">Walter de Gruyter GmbH Berlin</a></dd>
					<hr>
					<dd><a href="https://www.bmj.com/" target="_blank">BMJ Publishing Group Ltd London</a></dd>
					<hr>
					<dd><a href="https://www.mdpi.com/" target="_blank">MDPI AG Basel</a></dd>
					<hr>
					<dd><a href="https://www.frontiersin.org/" target="_blank">Frontiers Media SA Lausanne</a></dd>
					<hr>
				</dl>
				<dl>
					<dt>Institutions</dt>
                                        <dd><a href="https://www.bib-bvb.de/" target="_blank">Bavarian Library Network (BVB)</a></dd>
					<hr>
					<dd><a href="https://www.bsb-muenchen.de/index.php" target="_blank">Bavarian State Library (BSB)</a></dd>
					<hr>
                                        <dd><a href="https://ub.fau.de/" target="_blank">University Library of the Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU)</a></dd>
                                        <hr>
                                        <dd><a href="https://www.gfz-potsdam.de/zentrum/bibliothek-und-informationsdienste/projekte/helmholtz-open-science-office/" target="_blank">Helmholtz Open Science Office at the German Research Centre for Geosciences (GFZ)</a></dd>
					<hr>
					<dd><a href="https://www.kobv.de/" target="_blank">Cooperative Library Network Berlin-Brandenburg  (KOBV)</a></dd>
					<hr>
					<dd><a href="https://www.ub.tu-berlin.de/" target="_blank">University Library of the Technische Universität Berlin (TU Berlin)</a></dd>
                                        <hr>
					
				</dl>
			</div>
		</article>
	</div>
</div>
</div>
</div>

{% endblock %}
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_ExpireDate msdt:dt="string">2022-01-07T15:47:39Z</mso:_dlc_ExpireDate>
<mso:ItemRetentionFormula msdt:dt="string">&lt;formula id=&quot;Microsoft.Office.RecordsManagement.PolicyFeatures.Expiration.Formula.BuiltIn&quot;&gt;&lt;number&gt;6&lt;/number&gt;&lt;property&gt;Created&lt;/property&gt;&lt;propertyId&gt;8c06beca-0777-48f7-91c7-6da68bc07b69&lt;/propertyId&gt;&lt;period&gt;years&lt;/period&gt;&lt;/formula&gt;</mso:ItemRetentionFormula>
<mso:_dlc_policyId msdt:dt="string">0x01010083127FB3521D6B4589532B3FC47EFAB3|-573836476</mso:_dlc_policyId>
<mso:_dlc_DocId msdt:dt="string">N7XHR37R3CPZ-517733791-235</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">8e4ff88e-728c-4e8d-984b-96710cbae7ee</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://jisc365.sharepoint.com/sites/dcrd/OAdev/_layouts/15/DocIdRedir.aspx?ID=N7XHR37R3CPZ-517733791-235, N7XHR37R3CPZ-517733791-235</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
