{% extends "search_objs/_base.html" %}

{% block title %} License Search {% endblock %}

{% block search_content %}
<script>
    function format_result_row_pre(val) {
        return '<div class="search-result-label">' + val + '</div><div class="search-result-value">';
    }

    function format_result_row_post() {
        return '</div>';
    }

    function format_date(val) {
        let options = { year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
        let dt = new Date(parseInt(Date.parse(val)))
        return dt.toLocaleString("en-GB", options);
    }

    let fieldRender = {
        idField: function (val, resultobj, renderer) {
            var field = '<div><h3>';
            if (resultobj.id) {
                display = "<a href='/license-manage/view-license?record_id=" + resultobj.id + "'>" + resultobj.id + "</a>";
                return display;
            } else {
                return false;
            }
        },
        updatedDateField: function (val, resultobj, renderer) {
            if (resultobj.last_updated) {
                return format_date(resultobj.last_updated);
            } else {
                return false;
            }
        },
    }

    let searchSetting = {
        search_url: "{{ url_for('query-edges.query', path='License') }}",
        result_display: edges.newResultsDisplay({
            id: "results",
            category: "results",
            renderer: edges.bs3.newResultsFieldsByRowRenderer({
                rowDisplay: [
                    [{
                        "pre" : format_result_row_pre("ID"),
                        valueFunction: fieldRender.idField,
                         "post": format_result_row_post(),
                    }],
                    [{
                        "pre" : format_result_row_pre("Name"),
                        field: "name",
                         "post": format_result_row_post(),
                    }],
                    [{
                        "pre" : format_result_row_pre("Type"),
                        field: "type",
                         "post": format_result_row_post(),
                    }],
                    [{
                        "pre" : format_result_row_pre("Status"),
                        field: "status",
                         "post": format_result_row_post(),
                    }],
                    [{
                        "pre" : format_result_row_pre("License EZB id"),
                        field: "identifier.id.exact",
                         "post": format_result_row_post(),
                    }],
                    [{
                        "pre" : format_result_row_pre("Date last updated"),
                        valueFunction: fieldRender.updatedDateField,
                         "post": format_result_row_post(),
                    }],
                ]
            })
        }),
            opt_components: [
            edges.newFullSearchController({
                id: "search-controller",
                category: "controller",
                sortOptions: [
                    {field: "name.exact", display: "Name"},
                    {field: "identifier.id.exact", display: "License EZB id"},
                    {field: "created_date", display: "Created date"},
                    {field: "last_updated", display: "Last updated"},
                ],
                fieldOptions: [
                    {field: "name.exact", display: "Name"},
                    {field: "identifier.id.exact", display: "License EZB id"},
                    {field: "journal.identifier.id.exact", display: "Journal identifier "},
                ]
            }),
            edges.newRefiningANDTermSelector({
                id: "type",
                field: "type.exact",
                display: "Type",
                size: 10,
                category: "facet"
            }),
            edges.newRefiningANDTermSelector({
                id: "status",
                field: "status.exact",
                display: "Status",
                size: 10,
                category: "facet"
            }),
            edges.newRefiningANDTermSelector({
                id: "journal_id",
                field: "journal.identifier.id.exact",
                display: "Journal identifier",
                size: 10,
                category: "facet"
            }),
            edges.newSelectedFilters({
                id: "selected-filters",
                category: "selected-filters",
                fieldDisplays: {
                    "type.exact": "Type",
                    "status.exact": "Status",
                }
            }),

        ],
    }



    jQuery(document).ready(function ($) {
        dgcore.initCommonSearchUi(searchSetting);
    })
</script>
{% endblock %}

