{% extends "base.html" %} 
{% block content %}

<div class="row cms">
	<div class="col span-11 pull-1">
		<h1>About Publications Router</h1>
		<p>Publications Router is an alerting service that automatically sends notifications about research articles to institutions' systems such as their repositories or CRISs. These notifications indicate, for example, that an article has been accepted for publication or that it has been published. They often include the articles themselves in the version agreed by the publisher, or they may just consist of metadata. We are in active discussion with a wide range of major publishers with a view to adding their feeds. Some of them will be added very soon - watch for announcements.</p>
		<p>It supersedes an earlier prototype version developed by EDINA, which worked internally somewhat differently.</p>
		<br>
		<h2>How it works</h2>
		<p>Publications Router examines the affiliations of each article's co-authors to determine the appropriate target repositories (or CRISs), and delivers a notification about it (and often also the article itself) to the appropriate registered repositories or CRISs.</p>
		<div><img src="/static/img_1_800px.png"></div>
		<br>
		<h2>How this helps</h2>
		<p>By automating this process, the router reduces administrative effort at institutions, alerts them to more of their outputs than they might otherwise be aware of, and helps maximise each article's distribution and exposure. Importantly, it also helps institutions comply cost-effectively with the open access policies of research funding bodies, notably the policy on open access and the REF.</p>
		<article class="box--padding-medium box--brd-mgreyblue">
			<div class="box__inner">
				<p>
					<b>Interested?</b> Find out how to get started if you're an <a	href="{{ url_for('more.institutions') }}">institution</a> or <a href="{{ url_for('more.publishers') }}">publisher</a>.
				</p>
			</div>
		</article>
	</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom %}