{% extends "base.html" %} 
{% block content %}

<div class="row cms">
	<div class="col span-11 pull-1">
		<h1>The DeepGreen Project</h1>
		<p>The DeepGreen project aims to transfer scientific publications, which can be made freely available at the end of their embargo period, into Open Acess repositories. The focus over the next two years will be on licenses which are funded by the Deutsche Forschungsgemeinschaft (DFG) and have been negotiated nationwide. These licenses are called Alliance licenses, and they contain special Open Access regulations. </p>
		<p>The experience gathered from Alliance license agreements since 2011 shows that the eligible authors (or their instiutional representatives) hardly ever make use of these Open Access rights.</p>
		<h2>Project Goals</h2>
		<p>During the two year project phase, the goal is to make these agreed upon Open Access regulations comfortable on a technical level and if possible automatize them. Authors or the authorized libraries would then no longer be responsible for transferring publications into Open Access repositories, instead publishers would deliver them periodically through a defined interface. To this end, a technical plattform, which will serve as a datahub ("Datendrehscheibe"), has been set up: Participating publishers transfer the publications and metadata via  the interface and authorized institutional or subject repositories receive the data. The publishers Karger and SAGE are pilot partners of the project.</p>
		<!-- <h2>About the DeepGreen Prototype</h2> -->
		<article class="box--padding-medium box--brd-mgreyblue">
			<div class="box__inner">
				<p>
					More information can be found on our project website <a href="https://deepgreen.kobv.de/en/project-deepgreen/" target="_blank">DeepGreen</a>
				</p>
			</div>
		</article>
	</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom %}
