{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col span-11 pull-1 cms">
		
		<h1>FAQ<h1>
			<p>The FAQ provides a brief overview for the DeepGreen Router. More detail can be found on the <a href="{{ url_for('about.resources') }}">"Technical Details"</a> page. <p>
		
<h2>FAQ Publishers</h2>
		<div class="FAQ">
    			<a href="#hide1" class="hide" id="hide1">+</a>
    			<a href="#show1" class="show" id="show1">-</a>
    			<div class="question">What is the DeepGreen Publications Router?</div>
				<div class="list">
        			 <p>The DeepGreen Prototype is a platform which enables publishers to comfortably deliver publications with Alliance licenses to Open Access repositories and support the Green Way of Open Access. Publishers send so called notifications to DeepGreen which matches them to corresponding institutions and provides them for publication.</p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide2" class="hide" id="hide2">+</a>
    			<a href="#show2" class="show" id="show2">-</a>
    			<div class="question">What are notifications?</div>
				<div class="list">
        			 <p>Notifications are references to publications (.pdf) with their metadata and, if available, secondary items such as image files. Each notification is a .zip file containing one publication. </p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide4" class="hide" id="hide4">+</a>
    			<a href="#show4" class="show" id="show4">-</a>
    			<div class="question">How are notifications sent?</div>
				<div class="list">
        			 <p>Notifications are sent either using a SWORD or SFTP interface. To send notifications please refer to your account details where you will find all the necessary details to access either SWORD or SFTP. </p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide5" class="hide" id="hide5">+</a>
    			<a href="#show5" class="show" id="show5">-</a>
    			<div class="question">Will DeepGreen store publications?</div>
				<div class="list">
        			 <p>DeepGreen will not store or save any publications. Publications that can be matched to an institution will be delivered and unmatched publications will be deleted from the system.</p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide6" class="hide" id="hide6">+</a>
    			<a href="#show6" class="show" id="show6">-</a>
    			<div class="question">Why are the accounts created for contracts and not for individual publishers?</div>
				<div class="list">
        			 <p>Each publisher can have several Alliance licenses with different licensing and embargo terms. Therefore accounts that represent the agreed upon terms are the better solution and ensure compliance with the licensing terms.</p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide7" class="hide" id="hide7">+</a>
    			<a href="#show7" class="show" id="show7">-</a>
    			<div class="question">How can I create an account?</div>
				<div class="list">
        			 <p>Please contact the DeepGreen team (<a href="mailto:info-deepgreen@zib.de">info-deepgreen@zib.de</a>) to find out if, in principle, you are eligible as DeepGreen participant. In affirmative case, an account will be created for you (or more than one, depending on the contracts). The login information will be sent to you. After your first login, we advise you to change your password in your account details. There you can also provide additional information under the “Configure Settings” headline. Please note that this is optional. </p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide8" class="hide" id="hide8">+</a>
    			<a href="#show8" class="show" id="show8">-</a>
    			<div class="question">How does DeepGreen match notifications to institutions?</div>
				<div class="list">
        			 <p>Institutions provide a comprehensive list with possible names for the institutions, names of authors with (if available) ORCIDs and their domain names. This is the basis for a successful matching process. DeepGreen compares this information to affiliation records found in the metadata of notifications.</p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide9" class="hide" id="hide9">+</a>
    			<a href="#show9" class="show" id="show9">-</a>
    			<div class="question">Where can I review the publications that have been sent?</div>
				<div class="list">
        			 <p>In your account details you will see a link titled "View routed notifications for this account (API)" which lets you review your notifications that have been sent to an institution.   </p>
				</div>
		</div>
		<div class="FAQ">
    			<a href="#hide10" class="hide" id="hide10">+</a>
    			<a href="#show10" class="show" id="show10">-</a>
    			<div class="question">Where does the information for the Alliance licenses come from?</div>
				<div class="list">
        			 <p>DeepGreen collaborates with the <a href="http://rzblx1.uni-regensburg.de/ezeit/" target="_blank">Elektronische Zeitschriftenbibliothek (EZB)</a> and receives the license information through them. An Alliance license contract includes certain journals which can be identified using an EZB ID or a <a href="http://www.zeitschriftendatenbank.de/startseite/" target="_blank">ZDB</a> ID if it is a journal collection. DeepGreen uses these IDs to include licensing terms in the metadata of notifications sent to the institutions. </p>
				</div>

</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom %}
