{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col span-11 pull-1 cms">
		<h1>For Institutions</h1>

		<h2>Benefits</h2>
		<ul>
			<li>Reducing the workload for authors, researches and employees and therefore reducing administrative costs</li>
			<li>More publications including metadata in their repositories</li>
			<li>Supporting the Green Open Access movement in Germany</li>
		</ul>
		
		<h2>How it works</h2>
		<p>DeepGreen provides a simple delivery of publications into repositories. Publishers deliver publications and their metadata to DeepGreen from where they can be received.</p>
		
		<p>The DeepGreen Prototype provides the following interfaces for receiving meatadata and the full text:</p>
		<ul>
			<li><b>SWORD2</b>: Notifications are delivered directly from the router (the SWORD-client) to repositories with SWORD deposits</li>
			<li><b>OAI-PMH</b>: Notifications are provided by the router and can be picked up by the repositories</li>
			<li><b>Publication Router API</b>: Notifications are provided by the router and can be picked up using REST</li>
		</ul>
		<p>On top of the basic transfer functions of the JISC Publications Router, DeepGreen has adapted its functionality to comply with the complexity of the Alliance licenses in Germany.  </p>
		<p>Publications are assigned to the institutions using indicators that are provided upon registration. These can include the ORCID of researchers, the name of the institutions and the email domain name. To use the SWORD2 interface the institution has to provide their username and password during registration.</p>
		<h2>How to participate</h2>
		<p>
			Please contact us if you would like to find out more.
		</p>
		<h2>Technical Information</h2>
		<p>
			Please see <a href="{{ url_for('about.resources') }}">here</a> for details
			of the publications router architecture and how to connect to it.
		</p>
	</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom %}
