{% extends "base.html" %} {% block content %}

<div class="row">
	<div class="col span-11 pull-1 cms">
		<h1>For Publishers</h1>

		<h2>Benefits</h2>
		<p>
			<ul>
				<li>Confidence that their documents are being used according to their license agreements</li>
				<li>Supporting the Green Way of Open Access</li>
				<li>Controlling their content with detailed reports to track their Open Access articles, instead of having to constantly search for them individually</li>
				<li>Participate in a unified and easy to use workflow, which reduces time spent on individual requests</li>
			</ul>
		</p>
		
		<h2>How it works</h2>
		<p>The DeepGreen Prototype enables publishers to automatically deposit publications in corresponding Open Access repositories. Publishers send notifications (each containing one publication and their metadata) to the Publications Router which then finds corresponding repositories and notifies them about the publication. </p>
		

		<p>DeepGreen provides the following interfaces for delivering metadata and the full text:</p>

		<ul>
			<li><b>SWORD2</b>: according to the SWORD V2 service document (here: NISO JATS and PDF/WORD)</li>
			<li><b>FTP</b>: JATS-XML for metadata, plus zip-files for full text and other files</li>
			<li><b>Publicatons Router API</b>: specific JSON structure</li>

		</ul>

		<p>On top of the basic transfer functions of the JISC Publications Router, DeepGreen has adapted its functionality to comply with the complexity of the Alliance licenses in Germany.</p>

		<p>The publications are assigned to institutions with affiliation indicators that should be included in the metadata: name of the institution, author name(s) with ORCID if available, email adress of the author(s), etc.</p> 

		<p>The institutions are obligated to respect any embargo periods and other license regulations.</p>
	
	<p>Please note that DeepGreen will not create one account for each publisher but one account for each alliance license contract. If a publisher is part of more than one contract, they will receive more than one account.</p>


	<h2>How to participate</h2>
	<p>Please contact us if you would like to find out more.</p>

		<h2>Technical Information</h2>
		<p>Please see <a href="{{ url_for('about.resources') }}">here</a> for details of DeepGreen Prototype architecture and how to connect to it.</p>
		
	</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom
%}
