{% extends "base.html" %} {% block content %}

<div class="row cms">
	<div class="col span-11 pull-1 cms">
		<h1>Technical details</h1>
		<p>The DeepGreen Prototype is a platform that enables publishers to send notifications to corresponding instiutions so that the data can be published in Open Access repositories.  At its simplest, a notification is a package providing details of one article only. The notification may also include the article text either embedded in the metadata or in associated binary files, for example PDF or WORD documents and graphics files. </p>
		<p>In order to use the DeepGreen Prototype both publishers and institutions must have completed the sign-up process which results in the creation of a DeepGreen account. This is used to configure and administer the DeepGreen Prototype settings that are necessary for connection.</p>
		<p>Matching of notifications to an institutional repository is a key function. This is done using a set of matching criteria that each participating institution provides via their administration screen. Each notification is compared with these criteria and those that match are flagged for routing to that institution's repository. Criteria may include any of the following:</p>
	<ul>
    		<li>Institution name variants (reflecting different names by which an institution is known)</li>
    		<li>Email or web domain names associated with the institution</li>
    		<li>ORCIDs of authors</li>
    		<li>Email addresses of authors.</li>
	</ul>    		
    		<p>To ensure compliance with the licensing terms of the Alliance licenses the DeepGreen Router has access to information provided by the <a href="http://rzblx1.uni-regensburg.de/ezeit/" target="_blank">Elektronische Zeitschriftenbibliothek (EZB)</a>. These will be included in the accounts and in the metadata. </p>

		<section id="inst_info" class="is-collapsible show_hide__container is-collapsible--button"
			data-collapsible>
			<h2 class="show_hide__trigger">Information for Institutions</h2>
			<div class="show_hide__target">
				<p>
					Content coming soon.
				</p>
			</div>
		</section>
		<section id="pub_info" class="is-collapsible show_hide__container is-collapsible--button"
			data-collapsible>
			<h2 class="show_hide__trigger">Information for Publishers</h2>
			<div class="show_hide__target">
				<h3>Notifications</h3>
				<p>Notifications are a combination of JSON metadata and packaged binary content (such as XML metadata files and fulltext PDFs, etc). Each notfication contains one publication. The system accepts these notifications into the index, then they are matched against repositories based on information each institution gives DeepGreen regarding the notifications they are interested in (based on information such as affiliation, author identifiers, etc). The matched notifications are then made available via the API for repositories to consume and ingest into their own archives.
				</p>
			</div>
		</section>
	</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom %}
