{% extends "base.html" %} {% block content %}

<div class="row cms">
	<div class="col span-12">
		<aside class="article-full__callout">
			<h3>Details</h3>
			<p></p>
			<div>
				<strong>Last updated:</strong>
			</div>
			<div id="updated"></div>
			<p></p>
			<div>
				<strong>Repository:</strong>
			</div>
			<div id="repository"></div>
			<p></p>
			<div>
				<strong>Created date:</strong>
			</div>
			<div id="created"></div>
			<p></p>
			<div>
				<strong>Config-Id:</strong>
			</div>
			<div id="id"></div>
		</aside>
	</div>
</div>





<div class="row">
	<div class="span col-12" id="container"></div>
</div>
<script>
var obj = JSON.parse({{ repo|tojson|safe }});



print_table = function(data,id,title){
	if(typeof data === "undefined"){
		return 0;
	}
	$('#container').append('<section\
			class="is-collapsible show_hide__container is-collapsible--button"\
			data-collapsible>\
			<h2 class="show_hide__trigger">'+title+'</h2>\
			<div class="show_hide__target">\
				<div class="cms">\
				<table id="'+id+'">\
						<tr>\
							<th>'+title+'</th>\
						</tr>\
				</table>\
				</div>\
			</div>\
		</section>\
		');
	
	for (variable in data) {
	$('#'+id+' tr:last').after('<tr>\
			<td>'+data[variable]+'</td> \
			</tr>');	
	}
}

print_table(obj.strings,'strings','Strings');
print_table(obj.name_variants,'name_variants','Name Variants');
// print_table(obj.postcodes,'postcodes', 'Postcodes');
// 2016-09-26 TD : 'postcodes' are taken out as match critria; esp. for Germany
print_table(obj.domains,'domains', 'Domains');
// 2016-09-26 TD : Additional listing of grant numbers if provided
print_table(obj.grants,'grants', 'Grants');
//print_table(obj.author_ids,'author_ids', 'Author IDs (email,ORCID,...)');
// 2016-09-26 TD : Response time for this field _really_ unacceptable if 20000+ 
//                 IDs are about to be listed...
// 2019-04-23 TD : These field are switched off for now due to DSGVO (Thank you EU!)
// // 2019-02-25 TD : give it a new try; together with the keyword field!
// print_table(obj.author_ids,'author_ids', 'Author IDs (email,ORCID,...)');
print_table(obj.keywords,'keywords', 'Keywords');

$('#updated').append(obj.last_updated);
$('#created').append(obj.created_date);
$('#repository').append(obj.repo);
// $('#repository').append(obj.repository);
// 2016-09-26 TD : Field 'repository' changed to 'repo' due to ES 2.3.3 (and higher)
$('#id').append(obj.id);

</script>
{% endblock %}
