{% extends "base.html" %} 
{% block content %} 

<div class="row">
	<div class="cms">
		<h1> Routed Notification History<h1>
	</div>
	<div class="row">
	<div class="col span-12">
	<div id="repopiechart"></div>
	<div id="joupiechart"></div>
	</div>
		<div id="hrepo" hidden>
		<div class="col span-12">{% from
			"harvester/helpers/pagination.html" import render_pagination%} {{
			render_pagination(num_of_pages,page_num,link) }}</div>

			<section id="listrepos" class="is-collapsible show_hide__container is-collapsible--button"
			data-collapsible>
			<h2 class="show_hide__trigger">Repository</h2>
			<div class="show_hide__target">
				<table data-rwdtable-sortable id="publishertable">
					<tr>
					<th data-sort-default>Date Sent</th>
					<th>Date Analysed</th>
					<th>DOI</th>
					<th>Alliance License</th>
					<th>Repository</th>
					<th>Matching Criteria</th>
					</tr>


				</table>
				</p>
			</div>
		</section>
			{% from "harvester/helpers/pagination.html" import render_pagination%}
			{{ render_pagination(num_of_pages,page_num,link) }}
		</div>

		</section>
			
			{% from "harvester/helpers/pagination.html" import render_pagination%}
			{{ render_pagination(num_of_pages,page_num,link) }}
		</div>
	</div>
</div>

<script>
$( "#showrepo" ).click(function() {
    $( "#hrepo" ).toggle();
});
$( "#showjou" ).click(function() {
    $( "#hjou" ).toggle();
});
$(document).ready(function() {
    $.plot($("#repopiechart"), data, {
    series: {
        pie: {
            show: true,
            radius: 1,
            label: {
                show: true,
                radius: 2/3,
                formatter: function(label, series) {
                    return '<div style="font-size:11px ;text-align:center; padding:2px; color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                },
                threshold: 0.1
            }
        }
    },
    legend: {
        show: false
    }
});
    $(document).ready(function() {
    $.plot($("#joupiechart"), data, {
    series: {
        pie: {
            show: true,
            radius: 1,
            label: {
                show: true,
                radius: 2/3,
                formatter: function(label, series) {
                    return '<div style="font-size:11px ;text-align:center; padding:2px; color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                },
                threshold: 0.1
            }
        }
    },
    legend: {
        show: false
    }
});



</script>
<script>
var obj = JSON.parse ({{ repo|tojson|safe }}); 

var node = [];

for (variable in obj.notifications) {
	var id = obj.notifications[variable].id;
	$('#publishertable tr:last').after('<tr>\
		<td>'+obj.notifications[variable].created_date+'</td> \
		<td>'+obj.notifications[variable].analysis_date+'</td> \
		<td>'+obj.notifications[variable].metadata.identifier.type+ +obj.notifications[variable].metadata.identifier.id+'</td> \
		<td>'Allianz Lizenz ja/nein/unklar' </td> \
		<td>'repositorium name' </td> \
		<td>'+obj.notifications[variable].provenance.explanation'</td> \
	</tr>'
	);
node[id] = new PrettyJSON.view.Node({
	el : $('#'+id),
	data : obj.notifictaions[variable]
});
}

	
</script>
{% endblock %}
		
