{% extends "base.html" %} 
{% block content %} 

<div class="row">
	<div class="col span-12">
	<div class="cms">
		<h1> Routed Notification History</h1></div>
	
	<div class="row">
	
	<div id="repopiechart"></div>
	<div id="joupiechart"></div>
	
	</div>	
		<div class="col span-12">{% from
			"harvester/helpers/pagination.html" import render_pagination%} {{
			render_pagination(num_of_pages,page_num,link) }}</div>

			
			<h2>Repository</h2>
			
				<table id="publisherTable">
					<tr>
					<th>Send&nbsp;Date</th>
					<th>Analysis&nbsp;Date</th>
					<th>DOI</th>
					<th>License</th>
					<th>Repository</th>
					<th>Matching&nbsp;Reason</th>
					</tr>


				</table>
				
			{% from "harvester/helpers/pagination.html" import render_pagination%}
		{{ render_pagination(num_of_pages,page_num,link) }}
		<div class="row">
			<div class="col span-1"></div>
			<div class="col span-1"></div>
			<div class="col span-1"></div>
		</div>

		<div id='elem'></div>
	</div>	
	</div>

		
		


<script>
	var obj = JSON.parse ({{ repo|tojson|safe }}); 

	// var node = '';

	for (variable in obj.notifications) {
		var md = obj.notifications[variable].metadata;
		var doi = md.identifier[0].id
		for (cnt in md.identifier) {
			if (md.identifier[cnt].type == 'doi') {
				doi = md.identifier[cnt].id;
				break;
			}
		}
		$('#publisherTable tr:last').after('<tr>\
			<td>'+obj.notifications[variable].created_date+'</td> \
			<td>'+obj.notifications[variable].analysis_date+'</td> \
			<td>'+doi+'</td> \
			<td></td> \
			<td>'+obj.notifications[variable].repositories[0]+'</td> \
			<td></td> \
		</tr>');
	//node[id] = new PrettyJSON.view.Node({
	//	el : $('#'+id),
	//	data : obj.notifictaions[variable]
	// });
	}
</script>


{% endblock %}
