{% extends "base.html" %} 
{% block content %}


<div class="row cms">
	<div class="col span-7 pull-1">
		<h1>Login to Publications Router</h1>
	</div>
</div>
<div class="row">
	<div class="col span-6">
		<form method="post" action="" class="form">
			<fieldset class="form__fieldset">
				<legend>
					<span class="legend-text">Enter your login details to continue</span>
				</legend>
				<ul class="form-fields">
					<li class="form-fields__item--text">
						<label> 
							<span class="form-fields__label-text">Email address</span>
							<input type="text" name="username" class="input--large">
						</label>
					</li>
					<li class="form-fields__item--text">
						<label> 
							<span class="form-fields__label-text">Password</span> 
							<input type="password" name="password" class="input--large">
						</label>
					</li>
				</ul>
				<div class="btn--right-align">
					<button class="btn btn--3d btn--primary" id="login" type="submit">
						Log	in
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}

