{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>Log in to your account</h1>
    </div>
</div>

<form method="post" action="">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 form-horizontal wide">
			<input type="text" name="username" class="form-control" placeholder="email"><br>
			<input type="password" name="password" class="form-control" placeholder="password"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <button class="btn btn-primary" id="login" type="submit" style="width: 100%; font-size: 30px; line-height: 30px">
                Log in
            </button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-offset-4 col-md-4" style="padding-top:30px;">
            <p>
                If you do not yet have an account please 
                <a href="mailto:someone@jisc.ac.uk">contact us</a> to register.
                We offer accounts to publishers wishing to submit notifications, and also to UK institutional 
                repositories wishing to receive notifications.
            </p>
        </div>
    </div>
</form>

{% endblock %}

