{% extends "base.html" %} 
{% block content %} 

<div class="row">
	<div class="col span-12">
	<div class="cms">
		<h1>Matching History</h1>
	</div>
	
	<div class="row">
		<form class="form" action="" method="GET">
			<div class="col span-6">

				<ul class="form-fields">
					<li class="form-fields__item--text"><label> <span
							class="form-fields__label-text">Show history until:</span> <input type="text"
							name="since" value="{{date}}">
					</label>
					<button class="btn btn--3d btn--primary move-up" type="submit">Send</button>
					</li>
				</ul>


			</div>
			<div class="col span-5">
			</div>
		</form>
	
	</div>	
		<div class="col span-12">{% from
			"harvester/helpers/pagination.html" import render_pagination%} {{
			render_pagination(num_of_pages,page_num,link) }}</div>

			<table id="publisherTable" class="tablesorter-green">

			</table>
				
			{% from "harvester/helpers/pagination.html" import render_pagination%}
		{{ render_pagination(num_of_pages,page_num,link) }}
		<div class="row">
			<div class="col span-1"></div>
			<div class="col span-1"></div>
			<div class="col span-1"></div>
		</div>

		<div id='elem'></div>
	</div>	
	</div>

<!--
			<table id="publisherTable">
				<tr>
					<th>Analysis&nbsp;Date</th>
					<th>ISSN&nbsp;or&nbsp;EISSN</th>
					<th>DOI</th>
					<th>License</th>
					<th>Forwarded&nbsp;to</th>
					<th>Term</th>
					<th>Appears&nbsp;in</th>
				</tr>

			</table>
-->


<script>
	var obj = JSON.parse ({{ repo|tojson|safe }});
	var tbl = JSON.parse ({{ tabl|tojson|safe }});

	var out = [];
	for (j in tbl.header) {
		var hdr = tbl.header[j];
		out[hdr] = jsonpath.query(obj, tbl[hdr]);
	}

	var ids = jsonpath.query(obj, 'matches[*].id');
	// var node = '';

	$('#publisherTable').prepend('<tr>\
		<th>'+tbl.header[0]+'</th> \
		<th>'+tbl.header[1]+'</th> \
		<th>'+tbl.header[2]+'</th> \
		<th>'+tbl.header[3]+'</th> \
		<th>'+tbl.header[4]+'</th> \
		<th>'+tbl.header[5]+'</th> \
		<th>'+tbl.header[6]+'</th> \
		</tr>');

	for (variable in ids) {
		$('#publisherTable tr:last').after('<tr>\
			<td>'+out[tbl.header[0]][variable]+'</td> \
			<td>'+out[tbl.header[1]][variable]+'</td> \
			<td>'+out[tbl.header[2]][variable]+'</td> \
			<td>'+out[tbl.header[3]][variable]+'</td> \
			<td>'+out[tbl.header[4]][variable]+'</td> \
			<td>'+out[tbl.header[5]][variable]+'</td> \
			<td>'+out[tbl.header[6]][variable]+'</td> \
			</tr>');
	}
    $("#publisherTable").tablesorter();
</script>


{% endblock %}
