{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>Register a New User</h1>
    </div>
</div>

<form method="post" action="{{url_for('account.register')}}" id="registration-details">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 form-horizontal wide">
			<input type="text" name="email" class="form-control" placeholder="email">
			<input type="password" name="password" class="form-control" placeholder="password">
            
            <div class="checkbox">
                <label>
                    <input class="roler" type="checkbox" name="publisher"> publisher account
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input class="roler" type="checkbox" name="repository"> repository account
                </label>
            </div>

            <div class="rolers repository">
			<input type="text" name="repository_name" class="form-control" placeholder="repository name">
			<input type="text" name="repository_url" class="form-control" placeholder="repository url">
			<input type="text" name="repository_software" class="form-control" placeholder="repository software">
			<input type="text" name="sword_username" class="form-control" placeholder="repository SWORD username">
			<input type="text" name="sword_password" class="form-control" placeholder="repository SWORD password">
			<input type="text" name="sword_collection" class="form-control" placeholder="repository SWORD collection">
			<input type="text" name="packaging" class="form-control" placeholder="packaging prefs (comma separated)">
            </div>
            
            <div class="rolers publisher">
			<input type="text" name="embargo_duration" class="form-control" placeholder="embargo duration months (number)">
            </div>
            
            <button class="btn btn-primary btn-block" id="register" type="submit" style="margin-top:5px;">
                Register
            </button>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_js_bottom %}

<script>
$( document ).ready(function() {
    $('.rolers').hide();
    var roler = function() {
        $('.rolers').hide();
        var cls = '.' + $(this).attr('name');
        $(cls).show();
    }
    $('.roler').bind('change',roler);
});
</script>

{% endblock extra_js_bottom %}



