{% extends "base.html" %} {% block content %}

<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<h1>Register a New User</h1>
	</div>
</div>

<form class="article-full__body" method="post" action="{{url_for('account.register')}}" id="registration-details">
	<div class="row">
		<div class="col span-8">
			<fieldset class="form__fieldset">
				<ul class="form-fields">
					<li class="form-fields__item--text">
						<label> 
							<span class="form-fields__label-text">Email address</span>
							<input type="text" name="email" class="input--large form-control">
						</label>
					</li>
					<li class="form-fields__item--text">
						<label> 
							<span class="form-fields__label-text">Confirm Email address</span>
							<input type="text" name="email_verify" class="input--large form-control">
						</label>
					</li>
					<li class="form-fields__item--text">
						<label> 
							<span class="form-fields__label-text">Password</span> 
							<input type="password" name="password" class="input--large form-control">
						</label>
					</li>
					<li class="form-fields__item--text">
						<label> 
							<span class="form-fields__label-text">Confirm Password</span> 
							<input type="password" name="password_verify" class="input--large form-control">
						</label>
					</li>
				</ul>
				<ul class="form-fields">
					<li class="form-fields__item-radio">
                        <span class="form-fields__label-text">Account type</span>
                        	<ul>
                          		<li>
                            		<label>
                              			<input class="roler" type="radio" name="radio" value="publisher"> Publisher account</label>
                          		</li>
                          		<li>
                            		<label>
                              			<input class="roler" type="radio" name="radio" value="repository"> Repository account</label>
                          		</li>
                          		<li>
                            		<label>
                              			<input class="roler" type="radio" name="radio" value="admin"> Admin</label>
                          		</li>
                        	</ul>
                      </li>
				</ul>
				<div class="rolers repository">
					<ul class="form-fields">
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">Repository name</span>
								<input type="text" name="repository_name" class="input--large form-control">
							</label>
						</li>
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">Repository URL</span> 
								<input type="text" name="repository_url" class="input--large form-control">
							</label>
						</li>
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">Repository software</span> 
								<input type="text" name="repository_software" class="input--large form-control">
							</label>
						</li>
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">SWORD username</span> 
								<input type="text" name="sword_username" class="input--large form-control">
							</label>
						</li>
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">SWORD username</span> 
								<input type="text" name="sword_password" class="input--large form-control">
							</label>
						</li>
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">SWORD collection</span> 
								<input type="text" name="sword_collection" class="input--large form-control">
							</label>
						</li>
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">Packaging prefs (comma separated)</span> 
								<input type="text" name="packaging" class="input--large form-control">
							</label>
						</li>
					</ul>
				</div>
				<div class="rolers publisher">
					<ul class="form-fields">
						<li class="form-fields__item--text">
							<label> 
								<span class="form-fields__label-text">Embargo duration (months) (number)</span>
								<input type="text" name="embargo_duration" class="input--large form-control">
							</label>
						</li>
					</ul>
				</div>
				
				<div class="btn--right-align">
					<button class="btn btn--3d btn--primary" id="register" type="submit">Add user</button>
				</div>
				
				<div class="btn--right-align">
					<input action="action" type="button" class="btn btn--3d btn--primary" value="Cancel" onclick="history.back();" />
				</div>
				
			</fieldset>
		</div>
	</div>
</form>

{% endblock %} 

{% block extra_js_bottom %}

<script>
$( document ).ready(function() {
	$('.rolers').hide();
    var roler = function() {
		var cls = '.' + $(this).attr('value');
		$('.rolers').hide();
		$(cls).show();
    }
    $('.roler').bind('change',roler);
});
</script>

{% endblock extra_js_bottom %}




