{% extends "base.html" %} 
{% block content %} 

{% if not current_user.is_anonymous %}
 <h1 class="visuallyhidden">My account</h1>
<div class="featured">
	<div class="row">
	  	<section class="box box--padding-large box--padding-bottom-none box--notice box--brd-vlgreyblue box--bg-vlgreyblue">
			<div class="span-12 cms">
				<h2>
					{% if account.has_role('admin') %} Admin {% endif %} 
					{% if account.has_role('repository') %} Institution Repository {% endif %} 
					{% if account.has_role('publisher') %} 
					{% if account.has_role('repository')
					%} / {% endif %} Publisher {% endif %} account details
				</h2>
			</div>
	    	<div class="col span-4 cms">
				<dl>
	            	<dt class="visuallyhidden">Email address</dt>
	            	<dd>{{account.data['email']}}</dd>
	            </dl>
			</div>
			<div class="col span-8 cms">
            	<dl class="dl-horizontal dl-horizontal--account-details">
	            	{% if current_user.is_super %}
	                <dt>Created</dt>
					<dd>{{account.data['created_date']}}</dd>
					{% endif %}
					<dt>Account <abbr title="Identifier">ID</abbr></dt>
					<dd>{{account.id}}</dd>
					<dt><abbr title="Application Programming Interface">API</abbr> key</dt>
	                <dd>{{account.data['api_key']}}</dd>
				</dl>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col span-8 cms">
		<h2><b>Configure Settings</b></h2>
{% if account.has_role('publisher') %}
<!--
		<div class="box box--padding-large box--brd-mgreyblue">
			<h3>Embargo period</h3>
			<form method="post" action="{{request.path}}/pubinfo" class="form">
				<input type="hidden" name="embargo_form" value="True">
				<ul class="form-fields">
					<li class="form-fields__item--text">
			   	     		<span class="form-fields__label-text">Embargo duration (months)</span>
				       		<input type="text" name="embargo_duration" class="form-control"	value="{{account.data.get('embargo',{}).get('duration','')}}">
		 		 		<button class="btn btn--3d" id="update_embargo" type="submit">Update details</button>
			   		</li>
		   		</ul>
			</form>
		</div>
-->
		<div class="box box--padding-large box--brd-mgreyblue">
			<h3>View matching history</h3>
			<div class="row">
				<a href="/account/matching/{{account.id}}?since=01/06/2019&api_key={{current_user.data['api_key']}}">View matched notifications for this account</a>
				<form method="POST" action="/account/download/{{account.id}}?since=01/06/2019&api_key={{current_user.data['api_key']}}" class="form">
					<button class="btn btn--3d btnright" id="download_matching_log" type="submit">Download matching log</button>
				</form>
			</div>
			<br>
			<div class="row">
				<a href="/account/failing/{{account.id}}?since=01/06/2019&api_key={{current_user.data['api_key']}}">View rejected notifications for this account</a>
				<form method="POST" action="/account/download/{{account.id}}?since=01/06/2019&api_key={{current_user.data['api_key']}}&rejected=1" class="form">
					<button class="btn btn--3d btnright" id="download_rejected_log" type="submit">Download rejected log</button>
				</form>
			</div>
			
		</div>
		<div class="box box--padding-large box--brd-mgreyblue">
			<h3>Default open access license (optional)</h3>
			<p>These are fallback values if none are found in the metadata.</p>
			<form method="post" action="{{request.path}}/pubinfo" class="form">
				<input type="hidden" name="license_form" value="True">
				<ul class="form-fields">
					<li class="form-fields__item--text">
				   		
				       		<span class="form-fields__label-text">License title</span>
				       		<input type="text" name="license_title" class="form-control" placeholder="Alliance License" value="{{account.data.get('license',{}).get('title','')}}">
				   		
				   	</li>
					<li class="form-fields__item--text">
				   		
				       		<span class="form-fields__label-text">License type</span>
				       		<input type="text" name="license_type" class="form-control" value="{{account.data.get('license',{}).get('type','')}}">
				   		
				   	</li>
					<li class="form-fields__item--text">
				   		
				       		<span class="form-fields__label-text">License URL</span>
				       		<input type="text" name="license_url" class="form-control"	value="{{account.data.get('license',{}).get('url','')}}">
				   		
				   	</li>
					<li class="form-fields__item--text">
				   		
				       		<span class="form-fields__label-text">License version</span>
				       		<input type="text" name="license_version" class="form-control"	value="{{account.data.get('license',{}).get('version','')}}">
				   		
				   	</li>
			   	</ul>
				
				<button class="btn btn--3d" id="update_license" type="submit">Update license</button>
	
			</form>
		</div>
		<br><br>
		<h2>Connecting to DeepGreen</h2>
		<h3>Connecting to the API</h3>
		<p>To use the API for deposit, please read our <a href="https://github.com/OA-DeepGreen/jper/blob/develop/docs/api/API.md" target="_blank">API documentation</a><br></p>
		<h1 class="pattern-library__component-title"></h1>
		<h3>Connecting via SFTP</h3>
		<p>SFTP Address:     <b>sl61.kobv.de</b> <br>
			Port:            <b>22</b><br>
			Username:        <b>{{account.id}}</b><br>
			Password:        <b>{{account.data['api_key']}}</b><br>
			Send a directory (alternatively a flat ZIP file) for each single publication notification. There should be no files in the top level of your SFTP folder.<br>
		</p>
		<h1 class="pattern-library__component-title"></h1>
		<h3>Connecting via SWORD</h3>
		<p>	SWORD endpoint:  <b>https://www.oa-deepgreen.de/sword</b><br>
			Username:        <b>{{account.id}}</b><br>
			Password:        <b>{{account.data['api_key']}}</b><br>
		</p>
		<h1 class="pattern-library__component-title"></h1>
{% endif %}
{% if account.has_role('repository') %}
		<div class="box box--padding-large box--brd-mgreyblue">
	        <h3>Upload matching details</h3>	
			<form class="form" method="POST" action="{{request.path}}/config" enctype="multipart/form-data">
				<ul class="form-fields">
					<li class="form-fields__item--text">
						<!-- <h4>Or retrieve config file from URL</h4> -->
						<label class="form-fields__item--text">
				       			<span class="form-fields__label-text">Remote csv file (URL)</span>
				       			<input type="text" name="url" placeholder="(no URL specified)" id="url" class="input--large"/>
							<br> <br>
							<button class="btn btn--3d btnright" id="config_retrieve" type="submit">Upload new match csv</button>
				   		</label>
					</li>
					<li class="form-fields__item--text">
						<!-- <h4>Upload new match config file</h4> -->
						<label class="form-fields__item--text">
				       			<span class="form-fields__label-text">Local csv file (this computer)</span>
							<input type="file" name="file" id="file" class="input--large">
							<br> <br>
							<button class="btn btn--3d btnright" id="config_upload" type="submit">Upload new match csv</button>
						</label>
						
					</li>

					<br>
					<h3>View matching details</h3>

					<li class="form-fields__item--text">
			   			<label>
			       			<a href="https://raw.githubusercontent.com/OA-DeepGreen/jper/develop/docs/csvtemplate.csv" target="_blank">See csv example</a>
			   			</label>
					</li>
				</ul>
			</form>
			{% if repoconfig %} 
			<div class="row">
				<a target="_blank" href="/account/configview{% if current_user.has_role('admin') %}/{{account.id}}?api_key={{current_user.data['api_key']}}{% else %}?api_key={{account.data['api_key']}}{% endif %}">View current JSON config for this repository</a>
				<form method="GET" action="{{request.path}}/config" class="form">
					<button class="btn btn--3d btnright" id="download_match" type="submit">Download match csv</button>
				</form>
			</div>
			
			{% endif %}
			

		</div>
	
		<div class="box box--padding-large box--brd-mgreyblue">
			<h3>View routing history</h3>
			<div class="row">
				<a href="/account/details/{{account.id}}?since=01/06/2019&api_key={{current_user.data['api_key']}}">View routed notifications for this institution</a>
				<form method="POST" action="/account/download/{{account.id}}?since=01/06/2019&api_key={{current_user.data['api_key']}}" class="form">
					<button class="btn btn--3d btnright" id="download_routed_log" type="submit">Download routed log</button>
				</form>
			</div>
		</div>

		{% if licenses %}
		<div class="box box--padding-large box--brd-mgreyblue">
			<h3>Filter</h3>
			<div class="row">
				<form class="form" method="POST" action="{{request.path}}/excluded_license" enctype="multipart/form-data">
					<p>Your institution appears in the following licenses. More information <a href="https://info.oa-deepgreen.de/unterstuetzer/#Verlage" target="_blank">here</a></p>
					<p>Please uncheck all licenses you don’t want to receive articles from:</p>
					{% for license in licenses %}
						{% set check = "" %}
					    {% if license.checked %}
							{% set check = "checked" %}
						{% endif %}
						<input type="checkbox" id="license_{{license.id}}" value="{{license.id}}" name='excluded_license' {{check}}>
						<label for="license_{{license.id}}">{{license.name}}</label><br>
					{% endfor %}
					<input type="hidden" id="license_ids" value="{{license_ids}}" name='license_ids'>
					<button class="btn btn--3d btnright" id="update" type="submit">Update settings</button>
				</form>
			</div>
		</div>
		{% endif %}

		<div class="box box--padding-large box--brd-mgreyblue">
	        <h3>Manage profile settings</h3>	
			<form method="post" action="{{request.path}}/repoinfo" class="form">
				
				<ul class="form-fields">
					<li class="form-fields__item--text"> 
						<span class="form-fields__label-text">Repository bibid (EZB)</span>
						<input type="text" class="input--large" name="repository_bibid" style="color: darkgrey;" readonly
							value="{{account.data.get('repository',{}).get('bibid','')}}" />
					</li>
					<li class="form-fields__item--text"> 
						<span class="form-fields__label-text">Repository sigel</span>
						<input type="text" class="input--large" name="repository_sigel" 
							placeholder="(comma separated)"
							value="{{','.join(account.data.get('repository',{}).get('sigel',[]))}}" />
					</li>
					<li class="form-fields__item--text"> 
						<span class="form-fields__label-text">Repository name</span>
						<input type="text" class="input--large" name="repository_name" 
							value="{{account.data.get('repository',{}).get('name','')}}" />
					</li>
					<li class="form-fields__item--text">
						<span class="form-fields__label-text">Repository URL</span>
						<input type="text" class="input--large" name="repository_url"
							value="{{account.data.get('repository',{}).get('url','')}}" />
					</li>
					<li class="form-fields__item--text">
						<span class="form-fields__label-text">Repository software</span>
						<input type="text" class="input--large" name="repository_software"
							value="{{account.data.get('repository',{}).get('software','')}}" />
					</li>
  				</ul>
				
			<button class="btn btn--3d btnright" id="update" type="submit">Update
				settings</button>
				
				<p></p><h3>Manage SWORD settings</h3>
		
			
			<ul class="form-fields">
					<li class="form-fields__item--text">
						<span class="form-fields__label-text">SWORD username</span> 
						<input type="text" class="input--large" name="sword_username"
							value="{{account.data.get('sword',{}).get('username','')}}" />
					</li>
					<li class="form-fields__item--text">
						<span class="form-fields__label-text">SWORD password</span>
						<input type="text" class="input--large" name="sword_password"
							value="{{account.data.get('sword',{}).get('password','')}}" />
					</li>
					<li class="form-fields__item--text">
						<span class="form-fields__label-text">Repository collection</span>
						<input type="text" class="input--large" name="sword_collection"
							value="{{account.data.get('sword',{}).get('collection','')}}" />
					</li>
                    <li class="form-fields__item--text">
                        {% set a = "" %}
                        {% set b = "" %}
                        {% if account.data.get('sword',{}).get('deposit_method',None) == 'single zip file' %}
                            {% set a = "selected" %}
                        {% elif account.data.get('sword',{}).get('deposit_method',None) == 'individual files' %}
                            {% set b = "selected" %}
                        {% endif %}
                        <span class="form-fields__label-text">Repository deposit method</span>
                        <select name="sword_deposit_method" id="sword_deposit_method">
                            <option value="">Select deposit method</option>
                            <option value="single zip file" {{ a }}>Single zip file</option>
                            <option value="individual files" {{ b }}>Individual files</option>
                        </select>
                        <span>Default value is <i>Single zip file</i></span>
                     </li>
					<li class="form-fields__item--text">
						<span class="form-fields__label-text">Packaging preferences</span>
						<input type="text" class="input--large" name="packaging"
							placeholder="(comma separated)"
							value="{{','.join(account.data.get('packaging',[]))}}" />
					</li>
				</ul>
			
			
			</form>
			
		</div>

        {% if sword_status %}
            <div class="box box--padding-large box--brd-mgreyblue">
                <h3>Manage SWORD Status</h3>
                <div class="row dl-table">
                    <dl>
                        <dt>Sword status</dt>
                        <dd>{{ sword_status.status }}<br/>
                            <a target="_blank"  href="/account/sword_logs/{{account.id}}">View logs from last deposit</a>
                        </dd>
                        {% if sword_status.status == "problem" %}
                            <dt>Number of retires</dt>
                            <dd>{{ sword_status.retries }}</dd>
                            <dt>Date tried</dt>
                            <dd>{{ sword_status.last_tried }}</dd>
                        {% endif %}
                        <dt>Date created</dt>
                        <dd>{{ sword_status.created_date }}</dd>
                        <dt>Date updated</dt>
                        <dd>{{ sword_status.last_updated }}</dd>
                        <dt>Date deposited</dt>
                        <dd>{{ sword_status.last_deposit_date }}</dd>
                        <dt>id</dt>
                        <dd>{{ sword_status.id }}</dd>
                    </dl>
                    {% set sword_action = "deactivate" %}
                    {% set action_label = "De-activate sword connection" %}
                    {% if sword_status.status == 'failing' %}
                        {% set sword_action = "activate" %}
                        {% set action_label = "Activate sword connection" %}
                    {% endif %}
                    <form class="form" method="POST" action="{{request.path}}/sword_{{sword_action}}" id="sword_{{sword_action}}">
                        <div class="form-fields__item--text form-fields__item--single">
                            <input type="submit" value="{{ action_label }}">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
		
	{% endif %}
		<div class="box box--padding-large box--brd-mgreyblue">
			<h3>Update login details</h3>
			<form method="POST" action="" class="form">
				<ul class="form-fields">
					<li class="form-fields__item--text">
						<span class="form-fields__label-text"> New
								Email address </span> <input type="text" name="email">
						
					</li>
					<li class="form-fields__item--text">
						<label> <span class="form-fields__label-text"> Confirm </span> 
								<input type="text" name="email_verify">
						</label>
						<button id="reset_email" type="submit"
							class="btn btn--3d">Update</button>
					</li>
				</ul>
			</form>
			<form method="POST" action="" class="form">
				<ul class="form-fields">
					<li class="form-fields__item--text">
						<label> 
							<span class="form-fields__label-text"> New password </span> 
							<input type="password" name="password">
						</label>
					</li>
					<li class="form-fields__item--text">
						<span class="form-fields__label-text"> Confirm </span> 
						<input type="password" name="password_verify">
						<button id="reset_password" type="submit"
							class="btn btn--3d">Update</button>
					</li>
				</ul>
			</form>
			<p>The password must contain at least eight characters, have lower and upper cases and at least one number</p>
		</div>
	</div>
	{% if current_user.is_super %}
	<div class="col span-3 push-1 cms">
		<h2><b>Manage account</b></h2>
		<div class="box box--padding-large box--brd-mgreyblue">
        	<p>
			{% if account.has_role('admin') %} Admin account {% endif %} 
			{% if account.has_role('repository') %} Repository account {% endif %}
			{% if account.has_role('publisher') %} Publisher account {% endif %} 
			</p>
			<form method="POST" action="" class="form">
				<div class="form-fields__item--text form-fields__item--single">
					<input type="submit" name="submit" class="btn btn--3d" id="delete" value="Delete this account">
				</div>
			</form>
		</div>
		{% if account.has_role('repository') %}
			<div class="box box--padding-large box--brd-mgreyblue">
				<p>Account settings</p>
				{% if account.has_role('passive') %}
					<form class="form" method="POST" action="{{request.path}}/become/active" id="form_passive">
						<input type="checkbox" id="passive_no" value="active" name='status'
						   onclick="submit_form_passive()">
						<label for="passive_no">Active</label><br>
						<input type="checkbox" id="passive_yes" value="passive" name='status' checked="checked"
						   onclick="submit_form_passive()">
						<label for="passive_yes">Passive</label><br>
					</form>
				{% else %}
					<form class="form" method="POST" action="{{request.path}}/become/passive" id="form_active">
						<div class="form-fields__item--text form-fields__item--single">
							<input type="checkbox" id="active_yes" value="active" name='status' checked="checked"
							   onclick="submit_form_active()">
							<label for="active_yes">Active</label>
						</div>
						<div class="form-fields__item--text form-fields__item--single">
							<input type="checkbox" id="active_no" value="passive" name='status'
							   onclick="submit_form_active()">
							<label for="active_no">Passive</label>
						</div>
					</form>
				{% endif %}
				{% set match_check = "" %}
				{% set match_action = "become" %}
				{% if account.has_role('match_all') %}
					{% set match_check = "checked" %}
					{% set match_action = "cease" %}
				{% endif %}
				<form class="form" method="POST" action="{{request.path}}/{{match_action}}/match_all" id="form_match_all">
					<div class="form-fields__item--text form-fields__item--single">
						<input type="checkbox" id="update_match_all" value="match_all" name='role' {{match_check}}
							   onclick='document.getElementById("form_match_all").submit()'>
						<label for="update_match_all">Match with all institutions</label><br>
					</div>
				</form>
				{% set subject_check = "" %}
				{% set subject_action = "become" %}
				{% if account.has_role('subject_repository') %}
					{% set subject_check = "checked" %}
					{% set subject_action = "cease" %}
				{% endif %}
				<form class="form" method="POST" action="{{request.path}}/{{subject_action}}/subject_repository" id="form_subject_repository">
					<div class="form-fields__item--text form-fields__item--single">
						<input type="checkbox" id="update_subject_repository" value="subject_repository" name='role' {{subject_check}}
							   onclick='document.getElementById("form_subject_repository").submit()'>
						<label for="update_subject_repository">Subject repository</label><br>
					</div>
				</form>
			</div>
		{% endif %}
	</div>
	{% endif %}
</div>
<!-- 2016-08-18 TD : *** Do not want to display this *** -->
{% set display = false %}
{% if display and account.has_role('repository') %}
<div class="row">
	<div class="col-md-12">
		<div id="matchholder">
            <div class="panel panel-default holder holder-ui">
                <div class="panel-heading" >
                    <div class="input-group" >
                        <div class="input-group-btn pagination">
                        	<a href="#" class="holder holder-function" holder-function="prev" alt="previous" title="previous">
                          		<span class="left-arrow"></span>
                          		<span class="pagination__text">Previous</span>
                        	</a>
                            <!-- <a href="#" class="btn btn-default holder holder-function" holder-function="prev" alt="previous" title="previous"><h2>&lt;</h2></a> -->
                        	<input type="text" class="input--large form-control holder holder-search holder-function" holder-function="add" placeholder="search...">
                            <a href="#" class="holder holder-function" holder-function="next" alt="next" title="next">
                          		<span class="pagination__text">Next</span>
                          		<span class="right-arrow"></span>
                        	</a>
                            <!-- <a href="#" class="btn btn-default holder holder-function" holder-function="next" alt="next" title="next"><h2>&gt;</h2></a> -->
                        </div>
                    </div>
                    <div class="holder holder-filters" style="margin-top:5px;"></div>
                </div>
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-md-12">
		<div class="holder holder-results">
			
		</div>
	</div>
</div>
{% endif %}

{% endif %}
{% endblock %} 
{% block extra_js_bottom %}
    <script>    	
        var deleteaccount = function(event) {
            var conf = confirm("This action will remove the user forever. Are you sure you want to do this?");
            if (!conf) event.preventDefault();
        }
        $('#delete').bind('click',deleteaccount);

    	function submit_form_active() {
			document.getElementById("active_no").checked = true;
			document.getElementById("active_yes").checked = false;
	     	document.getElementById("form_active").submit();
    	}
		function submit_form_passive() {
			document.getElementById("passive_no").checked = true;
			document.getElementById("passive_yes").checked = false;
	     	document.getElementById("form_passive").submit();
		}
			
    	{% if account.has_role('repository') %}
		var results = function(data) {
			var disp = '<table data-rwdtable data-rwdtable-sortable class="content-table" id="matches">';
			for ( var r in data.hits.hits ) {
				var rec = data.hits.hits[r]._source;
				disp += '<tr><td>';
				disp += '<p>Notification ' + rec.notification + '</a></p>'
				for ( var p in rec.provenance ) {
					var prov = rec.provenance[p];
					disp += '<p>' + prov.explanation + '</p>';
					disp += '<p>' + searchify({class: 'holder', val: prov.source_field, attrs: {function: 'add', filter: 'provenance.source_field.exact', value: prov.source_field} });
					disp += ': ' + searchify({class: 'holder', val: prov.term, attrs: {function: 'add', filter: 'provenance.term.exact', value: prov.term} });
					disp += ' matched ' + searchify({class: 'holder', val: prov.notification_field, attrs: {function: 'add', filter: 'provenance.notification_field.exact', value: prov.notification_field} });
					disp += ': ' + searchify({class: 'holder', val: prov.matched, attrs: {function: 'add', filter: 'provenance.matched.exact', value: prov.matched} });
					disp += '</p>';
				}
				disp += '</td></tr>';
			}
			disp += '</table>';
			$('.holder.holder-results').html(disp);
		}
		
		var qr = {
			'query': {
				'filtered': {
					'query': {
						'bool': {
						  'must': [
							]
						}
					},
					'filter': {
						'bool': {
							'must': [
								{
									'term': {
										'repo.exact': '{{account.id}}'
									}
								}
							]
						}
					}
				}
			}
		}
		$('#matchholder').holder({
			what: "Matches review",
			url: "/query/match_prov/_search",
			datatype: 'JSON',
			pushstate: false,
			defaultquery: qr,
				results: {
					default: results
				},
			  	after: {
					render: function() {
						$('.holder.holder-filters').children("[holder-remove='options.query.query.filtered.filter.bool.must.0']").first().hide();
					}
				},
				size: 20
		});
		{% endif %}
    </script>
{% endblock extra_js_bottom %}
