{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h1>
                {% if account.has_role('admin') %} <b>ADMIN</b> {% endif %}
                {% if account.has_role('repository') %} Repository {% endif %}
                {% if account.has_role('publisher') %} 
                {% if account.has_role('repository') %} / {% endif %}
                Publisher
                {% endif %}
                account details
            </h1>
            
            <h4>{{account.data['email']}}</h4>
            
            {% if current_user.is_super %}
            <h4>Created: {{account.data['created_date']}}</h4>
            {% endif %}
            
            <h4>Account ID: {{account.id}}</h4>
            
            <h4>API key: {{account.data['api_key']}}</h4>
            
            <div class="well" style="margin-top:30px;">
                <!-- TODO enabling this requires changing user accounts on system as api key is sftp login password
                <form method="POST" action="{{request.path}}/api_key" style="margin-bottom:10px;">
                    <button class="btn btn-info btn-block" id="api_key" type="submit">
                        Generate new API key
                    </button>
                </form>
                -->
                <form method="POST" action="">
                    <input type="password" name="password" class="form-control" style="width:50%;display:inline;" placeholder="new password">
                    <button class="btn btn-primary" id="reset_password" type="submit" style="width:49%;">
                        Reset account password
                    </button>
                </form>
                <form method="POST" action="">
                    <input type="text" name="email" class="form-control" style="width:50%;display:inline;" placeholder="new email address">
                    <button class="btn btn-primary" id="reset_email" type="submit" style="width:49%;">
                        Change email address
                    </button>
                </form>
            </div>
            
            {% if account.has_role('repository') %}
            <div class="well">
                <form method="POST" action="{{request.path}}/config" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" class="form-control" style="width:50%;display:inline;">
                    <button class="btn btn-primary" id="config_upload" type="submit" style="width:49%;">
                        Upload new match config
                    </button>
                    <!-- the ability to retrieve from URL may be turned off for live -->
                    <input type="text" name="url" id="url" class="form-control" style="width:50%;display:inline;" placeholder="Or retrieve config file from URL">
                    <button class="btn btn-primary" id="config_retrieve" type="submit" style="width:49%;">
                        Retrieve new match config
                    </button>
                </form>
                {% if repoconfig %}
                <a target="_blank" href="/api/v1/config{% if current_user.has_role('admin') %}/{{account.id}}?api_key={{current_user.data['api_key']}}{% else %}?api_key={{account.data['api_key']}}{% endif %}">View current JSON config for this repository (API)</a> 
                <br><a target="_blank" href="/api/v1/routed/{{account.id}}?since=01/08/2015&api_key={{current_user.data['api_key']}}">View routed notifications for this repository (API)</a> 
                <br>(Review how your match config matched to notifications - if any - below.)
								{% endif %}
            </div>
            <!--
            <p style="font-size:0.8em;">https://raw.githubusercontent.com/JiscPER/jper/develop/docs/csvtemplate.csv<br>
                https://raw.githubusercontent.com/JiscPER/jper/develop/service/tests/resources/example_repo_config.json</p>
            -->
            {% endif %}

            {% if account.has_role('publisher') %}
            <div class="well">
                <p>
                    To use the API for deposit, follow the documentation here: <br>
                    <a href="https://github.com/JiscPER/jper/blob/develop/docs/API.md" target="_blank">https://github.com/JiscPER/jper/blob/develop/docs/API.md</a><br><br>
                    For SFTP access, use the account ID above as username.<br>
                    The account API key above is the password.<br>
                    The SFTP address is sftp.pubrouter.jisc.ac.uk<br>
                    It is on the standard SFTP port (22).<br><br>
                    Send a directory for every publication notification. There should be no files in the top level of your SFTP folder.<br><br>
                    To use the SWORD endpoint, use the account ID above as username.
                    The account API key above is the password.<br>
                    The SWORD endpoint address is https://pubrouter.jisc.ac.uk/sword
                </p>                
            </div>
            {% endif %}

        </div>
        
        <div class="col-md-6">
            
            {% if account.has_role('repository') %}
            <div class="well">                
            <form method="post" action="">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        Repository name
                    </p>
                </div>
                <div class="col-md-8">
        			<input type="text" name="repository_name" class="form-control" placeholder="repository name" value="{{account.data.get('repository',{}).get('name','')}}">            
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        Repository URL
                    </p>
                </div>
                <div class="col-md-8">
                    <input type="text" name="repository_url" class="form-control" placeholder="repository url" value="{{account.data.get('repository',{}).get('url','')}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        Repository software
                    </p>
                </div>
                <div class="col-md-8">
                    <input type="text" name="repository_software" class="form-control" placeholder="repository software" value="{{account.data.get('repository',{}).get('software','')}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        SWORD username
                    </p>
                </div>
                <div class="col-md-8">
                    <input type="text" name="sword_username" class="form-control" placeholder="repository SWORD username" value="{{account.data.get('sword',{}).get('username','')}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        SWORD password
                    </p>
                </div>
                <div class="col-md-8">
                    <input type="text" name="sword_password" class="form-control" placeholder="repository SWORD password" value="{{account.data.get('sword',{}).get('password','')}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        Repository collection
                    </p>
                </div>
                <div class="col-md-8">
                    <input type="text" name="sword_collection" class="form-control" placeholder="repository SWORD collection" value="{{account.data.get('sword',{}).get('collection','')}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        Packaging preferences (comma separated)
                    </p>
                </div>
                <div class="col-md-8">
                    <input type="text" name="packaging" class="form-control" placeholder="packaging prefs (comma separated)" value="{{','.join(account.data.get('packaging',[]))}}">
                </div>
            </div>
            <button class="btn btn-primary btn-block" id="update" type="submit" style="margin-top:5px;">
                Update details
            </button>
            </form>
            </div>
            {% endif %}
            
            {% if account.has_role('publisher') %}
            <div class="well">
            <form method="post" action="">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        Embargo duration (months)
                    </p>
                </div>
                <div class="col-md-8">
										<input type="text" name="embargo_duration" class="form-control" placeholder="embargo duration months (number)" value="{{account.data.get('embargo',{}).get('duration','')}}">
                </div>
            </div>

            <button class="btn btn-primary btn-block" id="update" type="submit" style="margin-top:5px;">
                Update details
            </button>
            </form>
            </div>
            {% endif %}
            
            
            {% if current_user.is_super %}
            <div class="well">
                {% if account.has_role('publisher') %}
                <form method="POST" action="{{request.path}}/cease/publisher">
                    <button class="btn btn-info btn-block" type="submit" style="margin-bottom:3px;">
                        Cease being a publisher account
                    </button>
                </form>
                {% else %}
                <form method="POST" action="{{request.path}}/become/publisher">
                    <button class="btn btn-info btn-block" type="submit" style="margin-bottom:3px;">
                        Make this account a publisher account
                    </button>
                </form>
                {% endif %}

                {% if account.has_role('repository') %}
                <form method="POST" action="{{request.path}}/cease/repository">
                    <button class="btn btn-info btn-block" type="submit" style="margin-bottom:3px;">
                        Cease being a repository account
                    </button>
                </form>
                {% else %}
                <form method="POST" action="{{request.path}}/become/repository">
                    <button class="btn btn-info btn-block" type="submit" style="margin-bottom:3px;">
                        Make this account a repository account
                    </button>
                </form>
                {% endif %}

                {% if account.has_role('admin') %}
                <form method="POST" action="{{request.path}}/cease/admin">
                    <button class="btn btn-warning btn-block" type="submit" style="margin-bottom:3px;">
                        Cease being an admin account
                    </button>
                </form>
                {% else %}
                <form method="POST" action="{{request.path}}/become/admin">
                    <button class="btn btn-warning btn-block" type="submit" style="margin-bottom:3px;">
                        Make this account an admin account
                    </button>
                </form>
                {% endif %}

                <br><br>
                <form method="POST" action="">
                    <input type="submit" name="submit" class="btn btn-danger btn-block cb" id="delete" value="Delete this account">
                </form>

            </div>
            {% endif %}
        </div>
    </div>

    {% if account.has_role('repository') %}
		<div class="row">
				<div class="col-md-12">
						<div id="matchholder">
                <div class="panel panel-default holder holder-ui">
                    <div class="panel-heading" style="background-color:white;padding:0px;">
                        <div class="input-group" style="margin-left:-1px;margin-top:-1px;margin-bottom:-6px;margin-right:-2px;">
                            <div class="input-group-btn">
                                <a href="#" class="btn btn-default holder holder-function" holder-function="prev" alt="previous" title="previous" style="height:50px;"><h2 style="margin-top:0px;">&lt;</h2></a>
                            </div>
                            <input type="text" class="form-control holder holder-search holder-function" holder-function="add" placeholder="search..." style="font-size:1.6em;height:50px;">
                            <div class="input-group-btn">
                                <a href="#" class="btn btn-default holder holder-function" holder-function="next" alt="next" title="next" style="height:50px;"><h2 style="margin-top:0px;">&gt;</h2></a>
                            </div>
                        </div>
                        <div class="holder holder-filters" style="margin-top:5px;"></div>
                    </div>
								</div>
						</div>
				</div>	
		</div>
		<div class="row">
				<div class="col-md-12">
					<div class="holder holder-results">
						
					</div>
				</div>
		</div>
		{% endif %}

{% endblock %}

{% block extra_js_bottom %}
    <script>
    $( document ).ready(function() {        
        var deleteaccount = function(event) {
            var conf = confirm("ARE YOU SURE!!!");
            if (!conf) event.preventDefault();
        }
        $('#delete').bind('click',deleteaccount);
			
		    {% if account.has_role('repository') %}
				
				var results = function(data) {
						var disp = '<table class="table table-striped table-bordered">';
						for ( var r in data.hits.hits ) {
							  var rec = data.hits.hits[r]._source;
							  disp += '<p>' + rec.provenance.explanation + '</p>';
                disp += '<p>' + searchify({class: 'holder', val: rec.provenance.source_field, attrs: {function: 'add', filter: 'provenance.source_field.exact', value: rec.provenance.source_field} });
                disp += ': ' + searchify({class: 'holder', val: rec.provenance.term, attrs: {function: 'add', filter: 'provenance.term.exact', value: rec.provenance.term} });
                disp += ' matched ' + searchify({class: 'holder', val: rec.provenance.notification_field, attrs: {function: 'add', filter: 'provenance.notification_field.exact', value: rec.provenance.notification_field} });
                disp += ': ' + searchify({class: 'holder', val: rec.provenance.matched, attrs: {function: 'add', filter: 'provenance.matched.exact', value: rec.provenance.matched} });
								disp += '</p>';
								disp += '<p>Notification <a href="/api/v1/notification/' + rec.notification + '">' + rec.notification + '</a></p>'
						}
						disp += '</table>';
						$('.holder.holder-results').html(disp);
				}
				
				var qr = {
						'query': {
								'filtered': {
										'query': {
												'bool': {
													  'must': [
														]
												}
										},
										'filter': {
												'bool': {
														'must': [
																{
																		'term': {
																				'repository.exact': '{{account.id}}'
																		}
																}
														]
												}
										}
								}
						}
				}
				
				$('#matchholder').holder({
						what: "Matches review",
						url: "/query/match_prov/_search",
					  datatype: 'JSON',
						pushstate: false,
					  defaultquery: qr,
						results: {
								default: results
						},
					  after: {
							  render: function() {
										$('.holder.holder-filters').children("[holder-remove='options.query.query.filtered.filter.bool.must.0']").first().hide();
							  }
						},
						size: 20
				});
				{% endif %}
    });
    </script>
{% endblock extra_js_bottom %}


