{% extends "base.html" %} 
{% block content %}

<div class="row cms">
	<div class="col span-11 pull-1">
		<h1>The DeepGreen Project</h1>
		<p>The Project Deep Green aims to transfer scientific publications, which can be made freely available at the end of their embargo period, into Open Acess repositories. The focus over the next two years will be on licenses which are funded by the Deutsche Forschungsgemeinschaft (DFG) and have been negotiated nationwide. These licenses are called Allianz-Lizenzen, and they contain special Open-Access regulations. </p>
		<p>The experience gathered from Allianz license agreements since 2011 shows, that the circle of authorized authors (or their instiutional representatives) hardly ever make use of these Open Access rights. In a span of 2 years the projects aims to make the agreed upon Open Access condition easy to use on a technical level and if possible to make them automatic. Which would enable publishers to deliver these publications periodically through defined interfaces to Open Access repositories, rather than having authors or the authorized libraries put them in manually.</p>
		<h2>Project Goals</h2>
		<p>During the 2 year project phase, the goal is to make these agreed upon Open Access regulations comfortable on a technical level and if possible automatize them. Authors or the authorized libraries would then no longer be responsible of transfering publications into Ope Access repositories, instead publishers would deliver them periodically through a defined interface. For this the project partners will build a technical platform as a data hub: participating publishers transfer the publications and metadata through the interface and authorized institutional or subject repositories receive the data. The publishers Karger and SAGE are pilot partners for the project.</p>
		<h2>About the DeepGreen Publications Router</h2>
		<article class="box--padding-medium box--brd-mgreyblue">
			<div class="box__inner">
				<p>
					More information on our website <a href="https://deepgreen.kobv.de/en/en/" target="_blank">DeepGreen</a>
				</p>
			</div>
		</article>
	</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom %}
