{% extends "base.html" %} {% block content %}

<div class="row cms">
	<div class="col span-11 pull-1">
		<h1>Technical documentation</h1>
		<br>
		Content coming soon. 
		<section id="inst_info" class="is-collapsible show_hide__container is-collapsible--button"
			data-collapsible>
			<h2 class="show_hide__trigger">Information for Institutions</h2>
			<div class="show_hide__target">
				<p>
					Content coming soon.
				</p>
			</div>
		</section>
		<section id="pub_info" class="is-collapsible show_hide__container is-collapsible--button"
			data-collapsible>
			<h2 class="show_hide__trigger">Information for Publishers</h2>
			<div class="show_hide__target">
				<p>
					Content coming soon.
				</p>
			</div>
		</section>
	</div>
</div>

{% endblock %} {% block extra_js_bottom %} {% endblock extra_js_bottom %}
